[2011-12-23 10:47] chkal opened #1 "CDI integration module"
There should be a simple CDI integration module. One first thing that came to my mind is a producer for the FeatureManager

[2011-12-23 10:49] chkal opened #2 "SPI for looking up managed beans by type"
There should be an SPI to lookup managed beans by their type. This would allow to use the CDI BeanManager to lookup the implementation of FeatureManagerConfiguration automatically. This would reduce the configuration overhead that is currently required for setting up the FeatureManager

[2011-12-23 10:51] chkal opened #3 "Admin web interface should display the FeatureState"
The admin web interface should be able to display the complete FeatureState of all features. Currently it simply displays `Feature.isEnabled()` which has now a completely different meaning.

[2011-12-24 09:48] chkal opened #4 "Add annotation to specify feature labels"
Something like this:

[code]

[2011-12-24 09:49] chkal opened #5 "Add annotation to enable feature per default"
Something like:

Something like this:

[code]

[2011-12-25 15:09] #4 closed, assigned to nobody

[2011-12-25 15:09] #5 closed, assigned to nobody

[2011-12-26 08:36] #2 closed, assigned to nobody

[2011-12-26 11:33] #1 closed, assigned to nobody

[2011-12-26 11:33] chkal opened #6 "BeanFinder implementation for CDI"
There is currently no BeanFinder implementation for CDI

[2011-12-26 11:34] chkal opened #7 "Integration tests for basic operation"
The basic integration test should be extended to test all thee supported enviroments:
- Servlet
- CDI
- Spring

[2011-12-28 04:24] #6 closed, assigned to nobody

[2011-12-28 04:24] #7 closed, assigned to nobody

[2012-02-03 06:43] #3 closed, assigned to nobody

[2012-02-03 11:58] mschroeer opened #8 "Administration-Console does not honor admin state"
When integrating the Togglz administration console into a web application that makes use of a FeatureUserProvider, the admin state of the user is ignored. The console is displayed to all users of the web application that can guess its URL.

[2012-02-03 16:41] #8 closed, assigned to nobody

[2012-05-18 10:07] chkal opened #9 "Typo in exception message"
Typo:

[code]

[2012-05-18 13:06] #9 closed, assigned to nobody

[2012-07-06 15:22] fmueller opened #10 "Add support for switching Spring bean implementations"
A nice improvement for the Spring support: Switching between different bean implementations regarding the activated features, e.g.:
- OptimizedBeanImpl if feature 2 is enabled
- DefaultBeanImpl otherwise

[2012-07-06 15:28] fmueller opened #11 "Add TogglzFeatureDataProvider for JUnit"
If the number of feature increases also the number of all possible enabled or disabled feature combinations do so. To be sure that the application works as expected it would be great to have a DataProvider for JUnit. It should provide all possible feature combinations that are possible for a certain feature to run the (integration) tests with.

[2012-08-01 15:23] #10 closed, assigned to nobody

[2012-08-02 05:23] #11 closed, assigned to nobody

[2013-02-11 08:48] ghost opened #13 "can't access static content"
hi, when i'm trying to access a static file based at the root of the webfolder (i.e. /ft/1.html)
i get 404 while using togglz. removing togglz enables me to access it
i can however access the servlet (/ft/Check)

Web.xml:
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocati

[2013-02-11 11:04] #13 closed, assigned to nobody

[2013-02-11 13:53] ghost opened #14 "Column length too big in MySQL"
hi, when i try to use the datasource repository option (with mysql 5.2.42) i get the following error:
"Column length too big for column 'FEATURE_USERS' (max = 255); use BLOB or TEXT instead"

than i have 2 options:
1.override the JDBCStateRepository file and change the either to "FEATURE_USERS TEXT(2000)" or to "FEATURE_USERS CHAR(255)"
2.create the table manuali myself

any help will be appreciat

[2013-02-18 16:29] ghost opened #15 "Hi chkal, can you add me to the project, i would like to contribute. thanks (sry for opening an issue)"

[2013-02-27 13:07] #14 closed, assigned to nobody

[2013-02-27 13:10] #15 closed, assigned to nobody

[2013-02-28 00:00] Synesso opened #16 "Cannot resolve seam-security with fresh maven install."
Clone the project and attempt to run with a fresh install of maven. It fails to resolve `org.jboss.seam.security:seam-security`

[2013-03-01 03:45] #16 closed, assigned to nobody

[2013-03-01 06:09] chkal opened #18 "Improve common error messages"
There are some common errors that occur typically when Togglz doesn't boostrap correctly. Especially.

[code]

This should be improved. It should explain what exactly this means and how to fix it. Perhaps even with a link to a Wiki page or something like this.

[2013-03-01 06:13] chkal opened #19 "Create wiki page for "Building Togglz""
There are some common issues people run into when building Togglz:
- Arquillian tests fail because of container issues
- Missing dependencies (like Spring Security, see #17)

There should be some info regarding this somewhere. A wiki page or some page on togglz.org.

[2013-03-01 06:16] chkal opened #20 "Move Togglz to an organization"
This will make development simpler when the community grows. :)

[2013-03-03 17:26] jadlr opened #21 "Concurrency Issues in StateRepositories"
Hi,

I noticed a concurrency bug in the FileBasedStateRepository (writes are not synced) and while implementing a fix for it I noticed that none of the StateRepositories (besides the JDBC Repo) are thread safe, so I thought I'd ask if this is by design? Since you provide a servlet that lets you change the state of StateRepos that are at the same time used by code that leverages togglz I think it w

[2013-03-06 16:03] jadlr opened #22 "WeightedComparator not working for Integer.MIN_VALUE"
also, a Comparator should return -1/0/1

[2013-03-06 16:04] #21 closed, assigned to nobody

[2013-03-06 16:24] chkal opened #23 "Allow features that are not based on enums"
It should be possible to use enums that are not based on an enum type. I think there are a few places which assume that the feature is an enum. Mainly reflection stuff I think. Perhaps we could get rid of this.

[2013-03-07 06:23] #22 closed, assigned to nobody

[2013-03-09 06:13] #20 closed, assigned to nobody

[2013-03-11 11:42] ghost opened #26 "Seam Security dependency issue"
i keep getting:
unresolved dependency 'org.jboss.seam.security:seam-security:jar:3.1.0.Final'

which prevents me from building:
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] Togglz ............................................ SUCCESS [24.194s]
[INFO] Togglz - Core Framework ........................... SUCCESS [4.220s]
[INFO] T

[2013-03-11 12:16] #26 closed, assigned to nobody

[2013-03-12 08:23] #23 closed, assigned to nobody

[2013-03-13 06:18] chkal opened #27 "Create FeatureManagerProvider for SE"
There should be something in Togglz like this by default:

http://www.togglz.org/documentation/advanced-config.html#standalone

[2013-03-14 06:14] #27 closed, assigned to nobody

[2013-03-25 09:45] ralf-s-lorenz opened #30 "support for functional tests using a rest-api"
hello,
in my current project we're using togglz but we couldn't figure out how to change the feature state of an running web-application under test to ensure that the application works fine in case the feature is enabled and disabled respectively.
The console is not really an option for an automated switch.
Thus we decided to implement an TogglzResource (jersey-REST-Resource) and a RemoteRestState

[2013-03-28 16:19] #18 closed, assigned to nobody

[2013-03-31 09:51] chkal opened #31 "Unique identifier for the FeatureManager"
It would be useful to have some kind of unique identifier for a FeatureManager. This one could be auto created from the feature enum or manually set with the builder.

This would be useful especially for the JMX support.

[2013-04-05 15:01] hweissmann opened #32 "Clustering: Web-Fragments not distributable"
We tried to use Togglz in a JBoss7 cluster but it doesn't work because the web-fragment.xml are not distributable. So I downloaded the source code and inserted the following line in all web-fragment.xml:

<b>&lt;distributable /&gt;</b>

With this clustering works.

[2013-04-05 15:30] #32 closed, assigned to nobody

[2013-04-08 05:04] #31 closed, assigned to nobody

[2013-04-17 05:12] chkal opened #36 "SCM-based repository"
It would be nice to have a repository that uses an SCM system like suggested here:

http://loganmcgrath.com/blog/2012/11/28/promoting-changes-with-app-config-app/

[2013-04-25 07:42] tdtappe opened #38 "JDBCStateRepository not schema aware"
It seems as if the JDBCStateRepository is not schema aware. At least I ran into problems when I tried to let Togglz create and migrate the metadata. It didn't add the strategy columns. And I noticed that the SchemaUpdater provides "null" for the schema pattern when fiddling with the metadata.

Version 2.0.0.Beta1, PostgreSQL

[2013-04-30 13:23] ghost opened #39 "JDBCRepository doesn't recognize that table exist in PostgreSQL 9.2.4"
updater.doesTableExist() returns false even if the table exists

JDBCStateRepository.java
...
(Line 123 ) if (!updater.doesTableExist()) {
....

[2013-04-30 16:16] #39 closed, assigned to nobody

[2013-05-10 15:44] #38 closed, assigned to nobody

[2013-05-29 11:37] chkal opened #41 "JDBCStateRepository migration fails with MSSQL"
Instead of:

[code]

it should be:

[code]

[2013-05-31 16:46] #41 closed, assigned to nobody

[2013-06-05 15:13] hweissmann opened #42 "Script placement in template.html"
Hello,

I wanted to use Togglz in Selenium Tests. But there was a problem with the togglz-console.
After hours of searching I found out that the WebDriver of Selenium 2 could not find (sometimes) js files if they are not in the &lt;head&gt; section.
So I edit your template.html in togglz-console (1.1.1.Final) to:

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="UTF-8"

[2013-06-05 16:09] #42 closed, assigned to nobody

[2013-06-06 14:53] finsterwalder opened #43 "Querying toggles, that are not definied in the property file, take 10 times longer"
I just noticed, that togglz takes about 10 times as much time, when I query a feature that is not specified in my featuretoggles.properties file, compared to querying a feature that is specified in my featuretoggles.properties file.

When my featuretoggles.properties file looks like this:
FEATURE1=true
FEATURE2=false

FEATURE1.isActive() and FEATURE2.isActive() are answered 10 times faster than OT

[2013-06-11 15:12] #43 closed, assigned to nobody

[2013-06-28 10:41] heneke opened #44 "JDBCStateRepository does not work with auto-commit disabled"
JDBCStateRepository does not work with data source and auto-commit disabled: INSERT and UPDATE statements are never committed.

[2013-06-28 14:55] #44 closed, assigned to nobody

[2013-07-15 09:06] chkal opened #45 "MalformedParameterizedTypeException when using FeatureManagerFactory"
See:

https://groups.google.com/forum/#!topic/togglz-users/DXSPByOCq_M

Stacktrace:

[code]

[2013-07-22 14:44] #45 closed, assigned to nobody

[2013-08-20 11:54] wesleyhall opened #46 "Change DefaultFeatureManager constructor to public."
It is unfortunate that the constructor of DefaultFeatureManager is currently package scope.

If I want to have features that are not implemented using the enum method, then I need to implement TogglzBootstrap and return a FeatureManager. Most of the DefaultFeatureManager code may still apply, and I should be able to create an instance of this class and simply pass an alternative FeatureProvider to

[2013-08-20 12:08] #46 closed, assigned to nobody

[2013-09-14 07:56] chkal opened #50 "Create "resources" section on the Togglz site"
There should be a "resources" page on the Togglz site that links to:
- example applications
- presentation slides
- ....

[2013-09-23 05:46] chkal opened #51 "BeanFinder doesn't get a context in some situations"
The BeanFinderFeatureManagerProvider passes null for the context. Without the context the GuiceBeanFinder will always fail.

[2013-09-24 10:27] chkal opened #52 "Implement FeatureStateListener API"
It would be useful if users could add listeners which get called before/after the feature state is changed.

[2013-09-27 15:52] chkal opened #53 "Don't fail if TogglzFilter is registered more than once"
There seems to be a bug in Glassfish which causes the TogglzFilter to be executed twice.

https://java.net/jira/browse/GLASSFISH-18548

See report here:

https://groups.google.com/forum/?fromgroups#!topic/togglz-users/vM8alPVUUxM

Perhaps such situations shouldn't result in an exception.

[2013-09-29 12:13] bergbaron opened #54 "Multiple Activation Strageties?"
Hello,

I have to activate features based on usernames and IP addresses. is it possible to chain multiple activation strategies?

Maybe you can include a combined strategy chaining multiple simple strategies and connecting them with a configurabel condition AND, OR,....

have a nice day!

Chris

[2013-10-01 22:22] rpomeroy opened #55 "Shouldn't assume WebApplicationContext so Togglz can be used for non-web apps"
SpringBeanFinder assumes WebApplicationContext.  This doesn't work if using Togglz in a Spring command line app (which Springsource is providing a lot of support for).

[2013-10-09 19:26] clinton-fillier-vgh opened #56 "CachingStateRepository not working with JSF integration."
When implementing a CachingStateRepository I noticed the JSF integration didn't seem to be caching properly. When using the "features" managed bean, a Feature is represented by a NamedFeature. Since NamedFeature doesn't override hashcode() or equals(), it isn't suitable for a key in the cache map.

[2013-10-21 15:58] #56 closed, assigned to nobody

[2013-11-22 12:54] igorrosenberg opened #60 "One-click (De)Activation on admin console"
See http://www.togglz.org/images/screenshot-admin-console.png

Aim: toggle one feature, stauyin gon main admin page

_v2.0.0 behavior:_
- connect to the admin page,
- each feature has an edit button,
- click on one of the edit button, (page redirection, BAD!)
- modify property (via check-box),
- click on save
- the propery is modified.

_Desired behavior:_
- connect to the admin page,
- each featu

[2013-11-22 12:59] igorrosenberg opened #61 "Batch enabling/disabling"
See http://www.togglz.org/images/screenshot-admin-console.png

Aim: toggle several features at once

_v2.0.0 behavior:_
- connect to the admin page,
- each feature has an edit button,
- click on one of the edit button,
- modify property (via check-box),
- click on save
- the propery is modified.
- _repeat for every property_ (BAD)

_Desired behavior:_
- connect to the admin page,
- select several

[2013-11-22 13:14] igorrosenberg opened #62 "Add /readme.markdown"
Add /readme.markdown which allows visitors to the github page to have an overview of the project. This page may simply be a redirection to the web page, in the spirit of :

[code]

[2013-11-23 16:04] #62 closed, assigned to nobody

[2013-11-28 12:17] ptaylor opened #64 "Allow configuration of reload frequency for FileBasedStateRepository"
The FileBasedStateRepoistory defaults to 1000ms between reloads of the config file.  I would like to be able to set this to a different value when creating an instance.

[2013-11-28 16:19] #64 closed, assigned to nobody

[2013-12-20 11:24] Moeth opened #65 "CachingStateRepository doesnt cache / slowing down get-performance on heavy traffic"
NamedFeature doesnt implements hashcode / equals, so cache.get(new NamedFeature(name)) will ever return null. Each requests results in a new map-entry, which slow down the performance more than not using CachingStateRepository, because executing get in a huge map is terrible.

I think the Feature-Name should be used as Cache-Key, so the cache should work with NamedFeatures and user-implemented Fea

[2014-01-03 10:54] manoharginnu opened #66 "Togglz API admin console"
HTTP Status 403 - You are not allowed to access the Togglz Console

[2014-01-06 09:00] #66 closed, assigned to nobody

[2014-01-15 00:33] parxier opened #67 "SpringSecurityUserProvider should populate SimpleFeatureUser with granted authorities"
I'm trying to implement Spring Security based `ActivationStrategy` that would activate feature based on authorities granted to the user. I can read authorities from authentication security context and make a decision based on that, but then passed in `FeatureUser` parameter would be of no use to me.

In keeping everything abstracted nicely and since `SpringSecurityUserProvider` already   is readin

[2014-01-20 08:25] #67 closed, assigned to nobody

[2014-01-23 04:18] parxier opened #69 "Make EnumBasedFeatureProvider multiple enums support dependency injection friendly"
At the moment `EnumBasedFeatureProvider` supports adding multiple feature enums via `addFeatureEnum()` method call only. It is not very dependency injection frameworks (e.g. Spring) friendly and requires wrapping with `FactoryBean` of some sort to be able to achieve desired result.

`EnumBasedFeatureProvider` should allow setting multiple feature enums via constructor. Also calling classes like `F

[2014-01-23 21:30] jkrshw opened #71 "Allow injection of ActivationStrategys with FeatureManagerBuilder"
The FeatureManagerBuilder allows injection of all providers except for ActiviationStrategy which relies on the ServiceLoader to load the strategies.

Adding the ability to inject an ActivationStratey provider or a list of ActivationStrategys would be very useful.

[code]

[2014-02-04 03:51] parxier opened #73 "Feature Groups should support type level annotation"
As per Feature Groups [documentation](http://www.togglz.org/documentation/feature-groups.html) feature flags have to be annotated with feature group individually.

In our app we use multiple feature enums for different groups of features, e.g. `PerfomanceFeatures`, `WorkInProgressFeatures`, `CoreFeatures`, etc. All features under same feature enum usually share same feature group, so we have to an

[2014-02-04 03:59] #69 closed, assigned to nobody

[2014-02-06 05:19] #73 closed, assigned to nobody

[2014-02-18 16:20] #71 closed, assigned to nobody

[2014-02-19 07:55] karlbanke opened #75 "Error in Spring Configuration"
The Spring Configuration Mechanism is broken. It is not possible to use the FeatureProxyFactoryBean together with a spring configured togglz setup. When injecting the proxy bean into another bean, an exception occurs because this requires a FeatureManager that is not available before Spring Initialization is finished.

[2014-02-19 07:57] karlbanke opened #76 "FeatureProxyFactory bean should not through an exception while not initialized."
The bean should not through an exception while it is still uninitialized. Spring will complain with a warning that states that a proxy bean should return null when its type is not yet known.

[2014-02-21 10:13] chkal opened #77 "JDBCStateRepository fails with managed DataSource"
The JDBCStateRepository will always try to commit the transaction, even managed transactions:

[code]

[2014-02-24 06:52] #77 closed, assigned to nobody

[2014-03-25 15:29] hewlock opened #83 "Admin screen returns 404 when jsessionid is included"
The Admin console works correctly when cookies are enabled and no jsessionid is used.  However, disabling cookies and visiting the admin console with a jsessionid returns a 404.

I believe this has something to do with Tomcat passing url parameters back with HttpServletRequest.getRequestURI().

[2014-03-26 06:23] #83 closed, assigned to nobody

[2014-04-15 21:07] hewlock opened #86 "Serve static resources without loading feature user for security check"
Would it be possible to configure Togglz to serve up static resources (images, stylesheets, javascript) without loading the feature user for a security check? I'm not concerned about locking these resources down and sometimes loading up a properly populated user with security is non-trivial and feels like overkill to serve up these resources.

Thanks!
-Matt

[2014-04-28 12:51] szpak opened #87 "Runtime errors in Togglz console should be logged"
In case of a runtime error (like `IllegalStateException: Failed to write new values`) when using Togglz Console it would be nice to have it logged in the application log (with LogFactory).

Currently the error is only displayed in the browser and logged in `localhost.log` (on Apache Tomcat) which usually is not monitored.

[2014-05-12 21:49] szpak opened #89 "Unable make a project build with Java 8"
A try to make a build with Java 8 and with JBoss AS starting "forever" in the integration tests in servlet integration module (the first with JBoss AS tests). I have been waiting for ~10 minutes, one core has 100% utilization all the time.

[code]

Tested with OpenJDK from Fedora 19 package - java-1.8.0-openjdk-1.8.0.5-1.b13

[code]

JBoss is able to start with OpenJDK 7.

[2014-05-19 15:43] #86 closed, assigned to chkal

[2014-05-20 05:56] #87 closed, assigned to nobody

[2014-05-22 15:51] #89 closed, assigned to nobody

[2014-06-06 02:53] mattcorey opened #91 "Console as standalone .war"
A pre-build .war file supporting minimal configuration would be massively useful for systems with multiple applications depending on a single Togglz configuration data store.  Ideally, it would be accompanied with Chef or Puppet configured box(es), as well as a Vagrant file.

[2014-08-08 20:47] therrin150 opened #97 "Feature Suggestion: Support HTML in Feature Label"
With regard to Features and Feature Groups, we have adopted the strategy of grouping by release, and creating a feature for each story we work on that we wish to have toggle-able. It would be very nice if we could use HTML as the label value, in order to link to the related story in JIRA, for example.

We tried this, and the link works on the console, BUT, because the feature name is also used in

[2014-08-15 07:04] php-coder opened #98 "Integration with Thymeleaf"
There is already a repo with Togglz & Themeleaf integration: https://github.com/heneke/thymeleaf-extras-togglz But this artifact isn't published in maven repository and looks orphaned. Probably, you can add such integration by yourself or pull existing ones?

[2014-08-15 07:13] php-coder opened #99 "Mention on the site about slf4j, mongodb and guice integration"
I've read the site and didn't found any mentions about modules for slf4j, mongodb and guice integrations. It would be useful for newcomers to know about these features.

[2014-08-20 22:53] HeIsHuaxi opened #100 "togglz https support"
In a https enabled container, when I make a change to feature flag through the admin ui, it's making a call to "togglz/edit?f=FeatureName", however the result of this call is to redirect to the http version of "togglz/index", which will always be pending given that the server has forbidden non-https request. I can still go back to the togglz admin page by clicking cancel button, which takes me bac

[2014-09-03 17:00] #97 closed, assigned to nobody

[2014-10-01 22:21] PatrickAuld opened #101 "Allow org.togglz.core.manager.TogglzConfig to get set as Filter init-param"
Currently a context-param is used to configure the TogglzFilter however when integrated with Guice's Servlet this requires updating the web.xml as context-params can not be changed at runtime. Moving this to a the [Filter's init param](http://www.oracle.com/technetwork/java/filters-137243.html#70248) both shows that is value is specific to the TogglzFilter allows us to stay closer to Guice's web.x

[2014-10-13 12:39] hweissmann opened #102 "TogglzFilter not marked as supporting async"
We are using Wildfly 8.1. with Undertow as web server and Atmosphere as Push-Framework.
We have some problems with the long-polling mechanism of Atmosphere.
If long-polling is active, undertow throws an IllegalStateException:  java.lang.IllegalStateException: UT010026: Async is not supported for this request, as not all filters or Servlets were marked as supporting async

So we checked all Filters

[2014-10-14 10:36] #102 closed, assigned to nobody

[2014-10-21 11:04] tdelphi opened #103 "Bug: featureManager instantiated by TogglzRule is stored in cache with all enabled features."
Bug: featureManager instantiated by TogglzRule is stored in cache with all enabled features.

Example:

I have unit test class with the following code.

[code]

I have another unit test (integration) class that creates an instance of my class that uses Togglz to check if FEATURE1 is active/not active.

What do I expect:
I expect, that in integration tests FEATURE1 will be inactive (It wasn't enabl

[2014-10-21 12:17] #103 closed, assigned to chkal

[2014-11-06 15:24] karmakaze opened #104 "Gradual rollout of features is not independent--certain users always get all features first."
Because calculateHashCode() only depends on username and not the feature name (or other data) a usernames with low hash values mod 100 will always be the same users that get all gradually rolled out features first. This runs counter to multivariate testing where the samples should be independent.

[2014-11-07 18:19] chapmajs opened #105 "Allowing configuration of fallback behavior in testing"
I'm working on a project in which we want all Togglz-wrapped features to be disabled when there is no feature rule explicitly defined. We are currently handling this with a workaround; however, I'd like to make the FallbackFeatureManager's behavior configurable (it would still default to "everything ON" for compatibility).

I understand how to make this change; however, I want to make sure I make

[2014-11-10 16:13] #104 closed, assigned to chkal

[2014-11-14 00:40] parxier opened #106 "Implement JCR based StateRepository"
Useful in JCR based applications, e.g. Adobe AEM (aka CQ5).

[2014-11-20 20:10] vikasgarghb opened #108 "Handle empty strategyId values, in DefaultFeatureManager"
Currently, there is no way to support empty strategyId values. If the property is specified in a properties file (using `FileBasedStateRepository`) with an empty value (intending to use no strategy), the `isActive()` method returns `false` as it considers that the strategy did not meet any of the existing ones.

This should be,
`String strategyId = state.getStrategyId();
if (strategyId == null) {

[2014-11-22 07:54] #108 closed, assigned to nobody

[2014-11-26 13:03] devopsd opened #110 "tests failing in togglz core module in master branch"
following tests are failing in Togglz Core:
- `shouldReturnTrueForFeatureOnCorrectMachine(org.togglz.core.activation.IPActivationStrategyTest):
  expected:<true> but was:<false>`
- `multipleMachineIps(org.togglz.core.activation.IPActivationStrategyTest):
  expected:<true> but was:<false>`

[2014-12-03 12:16] #100 closed, assigned to nobody

[2014-12-04 15:06] #110 closed, assigned to nobody

[2014-12-19 18:22] crawford42 opened #112 "Extra confirmation on activating a toggle"
This came up at work today -- we have a feature we'd like to wrap in a toggle, but as it's potentially destructive, we'd like it to be harder than to activate compared to other features. That could be as simple as a confirmation dialog.

[2014-12-19 18:58] crawford42 opened #113 "Callback on feature activation"
Another security item -- a way to have a custom function called on feature activation/deactivation to allow auditing.

[2014-12-22 10:52] jigars-ezdi opened #114 "Do I need to restart tomcat after activating/deactivating feature?"
Hi,

I want to use Togglz for web based application which I am going to deploy on tomcat.
My question is:
1. If I change feature active/deactive configuration in DB or property file or through Management console whatever persistence strategy system, do I need to restart tomcat or it will be really time affected?

Concerned scenario is: I keep one feature inactive for users u1 and u2 and then if I

[2014-12-22 11:37] #114 closed, assigned to nobody

[2014-12-27 00:49] mayn opened #115 "Allow togglz to submit csfr token from spring security on action post"
It would be a nice feature to if togglz was able to detect the csfr token that spring security generates and include when it it does POST. (http://docs.spring.io/spring-security/site/docs/4.0.x/reference/htmlsingle/#csrf)

This would prevent the invalid csfr token error that gets generated wich requires additional spring security config to disable csfr for /togglz/** url

[2014-12-28 15:21] #65 closed, assigned to nobody

[2014-12-28 15:45] #75 closed, assigned to nobody

[2014-12-29 12:16] #113 closed, assigned to nobody

[2014-12-29 12:16] #112 closed, assigned to nobody

[2014-12-29 12:21] #101 closed, assigned to nobody

[2014-12-29 12:50] #76 closed, assigned to nobody

[2014-12-29 12:52] #52 closed, assigned to nobody

[2014-12-29 12:53] #54 closed, assigned to nobody

[2014-12-29 12:54] chkal opened #116 "Migrate Togglz Console to Bootstrap 3"
We are currently using Bootstrap 2.x for the console. We should update this.

[2015-01-02 05:29] chkal commented on #55
@rpomeroy: Thanks for sharing these details.

The Spring support is now divided into two modules. The first one `togglz-spring-core` only depends on core Spring APIs and `togglz-spring-web` adds more support on top for web environments.

So in your specific usecase you can now simply add the `togglz-spring-core` dependency to your project and then bootstrap Togglz like this:

[code]

Using `Static

[2015-01-02 09:52] chkal commented on #115
I just implemented a first version of this feature. Would you perhaps give it a try? All you need to do is to update to the latest snaphots. You will find more details here:

http://www.togglz.org/download.html

This feature should work out of the box if you include the `togglz-spring-security` module. In the latest snapshots there should be an hidden input on the edit page which includes the CSRF

[2015-01-02 20:59] mayn commented on #115
Tested w/ togglz-spring-security-2.2.0-20150102.075831-4.jar
Behaved as expected.
1. with csfr disabled. No token was submitted as part of the post (as expected)
2. with csfr enabled. csrf token was submitted as part of post request. Various activation strategies posted successfully.
Thanks!

![togglz 115](https://cloud.githubusercontent.com/assets/1252884/5599574/6f18d948-927e-11e4-98e4-54c7f2825

[2015-01-03 09:18] chkal commented on #115
Awesome. Thanks for testing. :)

[2015-01-03 09:18] #115 closed

[2015-01-05 10:13] Iker-Jimenez commented on #55
Hi,
our setup is pretty much the same as the one described by @rpomeroy. What snapshot version of togglz has the new modules so we can test this out?

Thanks.

[2015-01-05 11:53] chkal commented on #55
You can give `2.2.0-SNAPSHOT` a try. See:

https://oss.sonatype.org/content/repositories/snapshots/org/togglz/togglz-spring-core/2.2.0-SNAPSHOT/

All details about how to access the snapshot builds are available here:

http://www.togglz.org/download.html

[2015-01-07 11:31] Iker-Jimenez commented on #55
OK, we have upgraded to 2.1.0 and played with 2.2.0-SNAPSHOT.
The StaticFeatureManagerProvider released in 2.1.0 was a big help, we were using our own BeanFinder before that.
2.2.0 adds a nice to have Spring compatible factory bean, so we would like to use it once you release 2.2.0.Final. Any dates for this release in mind?

[2015-01-07 16:42] chkal commented on #55
Hey. Thanks for the feedback. Sounds like it is working find for you. ;)

I'm not sure about the release date for 2.2.0.Final yet. We just pushed out 2.1.0.Final about 1 week ago. So this will likely take some time. Perhaps I'll do a 2.2.0.Alpha|Beta in between.

[2015-01-08 20:22] devopsd commented on #110
Confimed, issues is fixed

[2015-01-09 08:12] chkal commented on #110
Thanks for testing :)

[2015-01-17 19:40] devopsd opened #117 "(idea) implement and/or strategies to alow combining multiple activation strategies"
i.e. to be bale to have a strategy that activates when both client IP and server IP activation strategies enable the feature

[2015-01-20 05:57] chkal commented on #117
This idea came up some time ago. See #54. Please see the comments there. But I still don't have a good idea how to implement this so it is provided out of the box. But you can currently do it by building a simple custom strategy.

[2015-01-22 13:46] Rahil-Kanani opened #118 "Custom Activation strategy is not getting registered"
Hi,

I have created custom activation strategy. I have created one class by implementing ActivationStrategy interface. Wrote my business logic in isActive method.

Then created one folder services under META-INF and created one file with name org.togglz.core.spi.ActivationStrategy in it. Put fully qualified class name of custom strategy file like a.b.c.CustomStrategy in that file.

But I am not ge

[2015-01-22 15:06] chkal commented on #118
So you say the admin console is broken after you registered the custom strategy? Could you check the log files and post any exceptions you find?

[2015-01-23 05:30] Rahil-Kanani commented on #118
Broken of Admin console is just one happening after that. My main concern is custom strategy is not getting registered so just want to know anything I am missing to configure or any workaround?

May be after resolving this issue Admin console can start but that is not concern right now. I was just letting you know.

Thanks
Jigar Shah

[2015-01-23 05:45] chkal commented on #118
How do you know the strategy isn't registered without the admin console?

Please double check that the SPI file exists on the classpath and contains the FQCN of your implementation:

    META-INF/services/org.togglz.core.spi.ActivationStrategy

If you are using Maven, the location of the file must be:

    src/main/resources/META-INF/services/org.togglz.core.spi.ActivationStrategy

[2015-01-23 06:32] Rahil-Kanani commented on #118
Yea...I am using Maven and crated file same as you mentioned but not working.
I have debugged code and checked DefaultActivationStrategyProvider file where it maintains collection of all provided. There I found that custom activation is not getting registered.

[2015-01-23 08:05] chkal commented on #118
That's weird. There is no technical difference between the Togglz default strategies and custom strategies. They are all loaded using the ServletLoader Java API. See for example:

https://github.com/togglz/togglz/blob/master/core/src/main/resources/META-INF/services/org.togglz.core.spi.ActivationStrategy

https://github.com/togglz/togglz/blob/master/servlet/src/main/resources/META-INF/services/org

[2015-01-23 09:04] Rahil-Kanani commented on #118
I checked everything again. File path is correct, file name is correct and I have mentioned FCQN of custom strategy class in that file.

[2015-01-23 09:40] Rahil-Kanani commented on #118
Hi,

Thanks...my problem get resolved and strategy is being registered but still not able to open admin console.

[2015-01-23 10:36] Rahil-Kanani commented on #118
Finally I found issue and Admin Console is working. Just one question regarding it.
In Admin Console, I am getting only All Features tab. How to get Performance and Usability tab in admin console?

[2015-01-23 11:49] chkal commented on #118
These tabs are feature groups as described here:

http://www.togglz.org/documentation/feature-groups.html

[2015-01-23 11:49] #118 closed

[2015-01-23 13:20] Rahil-Kanani commented on #118
Thank you very much for your support. All are cleared now.

[2015-01-23 13:27] Rahil-Kanani commented on #118
Can you tell me how to separate Admin console for the application?

[2015-01-23 14:07] chkal commented on #118
The admin console has been designed to be embedded into an existing application. But you can try to use the WAR overlay feature of the maven-war-plugin to merge it with an empty project and just include some configuration classes. That should work.

PS: Please ask such questions in the user forums. The issue tracker is not the intended place for this kind of discussion. Thanks.

[2015-01-30 20:06] php-coder opened #119 "Improve integration with Spring Security when CSRF protection is enabled"
It turns out that when I'm using Spring Security with Togglz and I'm enabling [CSRF protection](http://docs.spring.io/spring-security/site/docs/3.2.x/reference/htmlsingle/#csrf) then feature toggling stop to work.

Yes, I know about workarounds but may be Togglz may detect such situation and provide csrf token so it will work out of box with CSRF security? For example, we may try to lookup for tok

[2015-01-31 10:41] chkal commented on #119
This is already implemented and available in the current snapshots. See #115.

[2015-01-31 10:41] #119 closed

[2015-02-22 00:55] shadowsak opened #120 "Maven dependency for togglz project jar does not work"
[ERROR] Failed to execute goal on project Launcher: Could not resolve dependencies for project
Could not find artifact org.togglz:togglz-project:jar:2.2.0-SNAPSHOT in sonatype-oss-snapshots (https://oss.sonatype.org/content/repositor
ies/snapshots) -> [Help 1]

<repository>
		    <id>sonatype-oss-snapshots</id>
		    <url>https://oss.sonatype.org/content/repositories/snapshots</url>
		    <release

[2015-02-22 07:19] chkal commented on #120
The snapshots are definitely in the OSS repository:

https://oss.sonatype.org/content/repositories/snapshots/org/togglz/togglz-core/2.2.0-SNAPSHOT/

Please double check the dependency coordinates and the repository URL.

If it still doesn't work, please post your pom and the full error message to use togglz-users forum:

https://groups.google.com/forum/?fromgroups#!forum/togglz-users

[2015-02-22 07:19] #120 closed

[2015-03-10 14:21] RichSteele opened #121 "Improve efficiency for getMetaData() on EnumBasedFeatureProvider"
See discussion at https://groups.google.com/d/msg/togglz-users/XYDLVlsvQW8/Fx5-RUy7QJ0J

[2015-04-09 15:11] RichSteele opened #124 "Refactor FileBasedStateRepository to allow for other kinds of non-file based property providers"
See https://groups.google.com/forum/?fromgroups#!topic/togglz-dev/pGk4qGX2bN4

In short, projects wanting to use properties from other sources than files cannot use the FileBasedStateRepository nor extend it, resulting in duplicated logic for parsing the property keys.  We need to extract the property handling portions of FileBasedStateRepository into a new PropertyBasedStateRepository that uses a

[2015-04-13 05:54] chkal commented on #124
PR applied. ;)

[2015-04-13 05:54] #124 closed

[2015-05-07 14:49] tdtappe opened #129 "Serializable FeatureState / NamedFeature"
I wanted to provide a ("clustered") feature cache by implementing a StateRepository. But unfortunately the FeatureState is actually not Serializable. Well, the FeatureState itself might be Serializable but not with a NamedFeature inside.

[2015-05-07 16:45] chkal commented on #129
Ah, I see. Yeah, I agree. This should be easy to fix. Pull requests welcome. ;)

[2015-05-08 07:55] tdtappe commented on #129
I gave it a try. But I couldn't even build togglz because of some plugin error. Any idea?

[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] Togglz
[INFO] Togglz - Core Framework
[INFO] Togglz - Test Harness
[INFO] Togglz - SLF4J integration
[INFO] Togglz

[2015-05-08 08:00] chkal commented on #129
Hmmm. Weird. All you need ist Java 7 and a recent version of Maven. Maven 3.1.x or newer should work fine.

[2015-05-08 08:20] tdtappe commented on #129
Seems to work after adding the following dependencies to the org.eclipse.virgo.bundlor.maven plugin.

			<dependency>
				<groupId>org.eclipse.virgo.bundlor</groupId>
				<artifactId>org.eclipse.virgo.bundlor</artifactId>
				<version>1.1.2.RELEASE</version>
			</dependency>
			<dependency>
				<groupId>org.eclipse.virgo.bundlor</groupId>
				<artifactId>org.eclipse.virgo.bundlor.blint</artifactId

[2015-05-08 09:18] tdtappe commented on #129
BTW, I use maven version 3.2.5

[2015-05-08 09:26] tdtappe commented on #129
I hopefully managed to create a pull request. This was the first time I used Git / GitHub :-)

[2015-05-08 10:20] tdtappe commented on #129
Oh. The tests didn't work. I thought it would be Ok to use Java 7 because you mentioned it above. Should be fixed now.

[2015-05-08 16:28] danhaywood opened #131 "[feature idea]: Rework @RunWith(FeatureVariations.class) into a @Rule"
I really like the testing support you've implemented in togglz, and the FeatureVariations concept is smart and elegant.  It'd be nice if this could be reworked into a @Rule, though, perhaps an enhancement to TogglzRule?

My main thought was that the TogglzRule#apply(...) could basically call base#evaluate() multiple times, one for each variation.  The logic that works out the different variations

[2015-05-08 20:17] RichSteele commented on #129
Not sure I'm too late to the party and haven't had a chance to look at the
pull request yet but I've been able to build on Windows using Java 7, Maven
3.2.5, and a -DJBOSS_REPO=true passed on the command line; e.g.,

mvn  -DJBOSS_REPO=true clean package

I do remember seeing errors like these in my early days of trying to build,
but I didn't need to update any dependencies to make things work.

On

[2015-05-09 09:45] chkal commented on #129
@RichSteele: I think the CI server also builds Togglz with JDK6 currently. So if the source code uses JDK7 stuff, the build fails. However, I was thinking about dropping JDK6 support. Even JDK7 is EOL now. ;)

@tdtappe: Thanks a lot for the pull request. However, it look like you reformatted the full source code. So it is nearly impossible to see what you changed.

See:
https://github.com/tdtappe/

[2015-05-09 09:48] chkal commented on #131
Very interesting idea. I actually like JUnit rules very much and always try to prefer them over `@RunWith()`. However, I'm not sure if it is possible to call base#evaluate() multiple times to create "virtual test results" that are correctly displayed in the IDE.

However, if it works, I agree that implementing a rule would be awesome. Any interest in working on a prototype for this? ;)

[2015-05-09 17:39] danhaywood commented on #131
Hi Christian, glad you like the idea.  Hadn't thought about the impact to
an IDE, but I imagine/hope that it would just be a test from its point of
view.  Have to just try it out.
Yes, I'll see if I can work on a prototype in the next week or so.  Should
be interesting to try something out.
Cheers
Dan
PS: FYI am using using togglz for a new "addon" for Apache Isis, see
github.com/isisaddons/isis-m

[2015-05-10 07:33] chkal commented on #131
The RunAs mechanism basically allows to run tests multiple times in a different "environment". So if you configure 4 variations, each test will be reported (in IDEs and the resulting XML files) as 4 "virtual" tests. That's a really nice JUnit feature.

However, maybe that's possible with rules too. I don't know actually. But it is worth a try.

You will find an Eclipse code format profile in the s

[2015-05-10 14:35] danhaywood commented on #131
The add-on for Isis is now complete, pretty much... https://github.com/isisaddons/isis-module-togglz

I've moved onto IntelliJ after more than a decade using Eclipse... but I have Eclipse installed still and will use it for this prototyping.

Cheers

[2015-05-10 17:26] chkal commented on #131
Great. I'll give the plugin a try as soon as I get the chance to play with Isis.

I also switched to IntelliJ some time ago. I just imported the Eclipse code style profile into IntelliJ. So that should be fine.

[2015-05-11 06:38] tdtappe commented on #129
Sure. No problem. Done!
I didn't notice the differences in whitespace as I switched it off in my diff viewer. Sorry for that.

BTW, did you notice the usage of tabs AND spaces for identation in NamedFeature?

[2015-05-12 06:15] #131 closed

[2015-05-12 06:35] chkal commented on #129
Thanks a lot. I just fixed the source formatting.

[2015-05-19 09:14] php-coder opened #134 "Add Spring-Boot integration"
I'd like to have out-of-box integration with Spring Boot.

[2015-05-22 04:44] chkal commented on #134
Could you tell us what you are missing. Basically I assumed that using the `togglz-spring` module should be all you need to get Togglz up and running in Spring Boot applications.

[2015-05-25 09:19] php-coder commented on #134
`tooglz-spring` is only enough for "old" Spring applications. When we are using Spring Boot there is a additional ways to reduce configuration even more and make it work out of box (with minimal or zero configuration).

Hm... probably, instead of writing my ideas I will create trivial module that will implement my requirements?

[2015-05-26 06:34] chkal commented on #134
Interesting approach. I have a few question though:

* So you have to create a ServletRegistrationBean to automatically register a servlet with Spring Boot? So isn't web-fragment.xml registration not supported at all?

* I think all this Spring Boot specific initialization code could be handled by a SpringBootFeatureManagerProvider. So the initialization would be performed lazily as soon as Togglz

[2015-06-18 22:07] csavory commented on #134
@chkal usually there is no web.xml or web-fragment.xml in a Spring Boot application.  Most of them will use an Embedded Tomcat (by default) or Jetty if Jetty is on the classpath.

[2015-09-20 17:55] seetharamireddy540 opened #138 "Can you pls commit the complete working example with Spring."
Can you pls commit the complete working example with Spring.

Tried to follow the documentation and it is not working and always getting the following error.

java.lang.IllegalStateException: Could not find any implementation of TogglzConfig or TogglzBootstrap. Please make sure that you have added the required integration modules to your project or register the implementation in your web.xml as de

[2015-09-21 06:02] chkal commented on #138
There is an integration test for the Spring integration. Have a look here:

https://github.com/togglz/togglz/blob/master/spring-web/src/test/java/org/togglz/spring/test/SpringBasicOperationTest.java

Also note that if your TogglzConfig is managed by Spring, you should add this to your web.xml:

    <context-param>
      <param-name>org.togglz.FEATURE_MANAGER_PROVIDED</param-name>
      <param-valu

[2015-09-21 06:02] #138 closed

[2015-09-23 05:37] seetharamireddy540 commented on #138
Thanks Chris,

I am able to add the togglz to my application . However I am having
following issue , if you have some time can you suggest whether it is
possible or not ?

I have restfull web service and it has client name and based on this , i
need to enable the certen features while processing .

Can you pls help to implement ? i tried UsernameActivation strategy and i
couldn't find the option h

[2015-09-23 11:12] Iker-Jimenez opened #139 "togglz-spring 2.2.0 not in MVN repos"
last version I can see is 2.1.0.
See http://mvnrepository.com/artifact/org.togglz/togglz-spring

[2015-09-23 13:23] chkal commented on #139
The artifact name for the Spring module has changed. Just use `togglz-spring-web` instead of `togglz-spring` and it should work fine.

See the updating notes for details:

http://www.togglz.org/updating-notes.html

[2015-09-23 13:23] #139 closed

[2015-09-23 16:15] seetharamireddy540 opened #140 "How to create custom user provider to feature"
Hi,

I have webservice (JAX-RS) and i need to control the processing of this service  base on certen input parameters

Ex : Web Service input request has filed name " clientID", and in my application if the client id is Cretan list of value i have to enable one feature , if the client is not in approved list then i shouldn't do that functionality alone.

I am looking into possible options in Toggl

[2015-09-23 19:47] Iker-Jimenez commented on #139
Nice, I actually asked for this functionality some time ago. I think you need to update http://www.togglz.org/documentation/installation.html then.

[2015-09-24 15:18] chkal commented on #139
Thanks. Looks like I missed this part of the documentation.

Should be fixed now:

https://github.com/togglz/togglz-site/commit/2d8c3cee8047ce2bfc6f4fb4038c816deb46d191

[2015-09-24 15:25] chkal commented on #140
Basically you can do this with a custom user provider. I recommend do try this:

As soon as you get the information about the user (within your JAX-RS resource method or in some kind of JAX-RS SPI like a ContainerResponseFilter) you could store the name of the client as a HttpServletRequest attribute.

Now you can implement a [custom user provider](http://www.togglz.org/documentation/authenticatio

[2015-09-24 15:25] #140 closed

[2015-09-24 15:29] chkal commented on #138
See my response in #140

[2015-10-07 15:15] michaelom commented on #134
+1

[2015-10-08 13:11] chkal commented on #134
Any contributions for improved Spring Boot support are more than welcome. I'm not very familiar with Spring Boot so any help there would be great.

[2015-11-04 10:51] BastianVoigt opened #142 "ConsoleServlet not usable with TestFeatureManager (NPE)"
When using the TestFeatureManager, the Console Servlet throws a NullPointerException, because the TestFeatureManager returns null from getActivationStrategies()

    java.lang.NullPointerException
    	at java.util.ArrayList.<init>(ArrayList.java:177)
    	at org.togglz.console.model.FeatureModel.<init>(FeatureModel.java:44)
    	at org.togglz.console.handlers.index.IndexPageTabView.add(IndexPageT

[2015-11-04 20:25] chkal commented on #142
Fixed by #143

[2015-11-04 20:25] #142 closed

[2015-12-09 10:39] mariuszs commented on #134
:+1:

[2016-01-10 16:20] binkley commented on #134
I have two bits of sample code I'm working on:
1. Wire vs ignore beans annotated with @ConditionalOnFeature(<enum value>) - only create bean if toggle is enabled
2. Same for individual request handler methods of a Spring controller (see http://binkley.blogspot.com/2016/01/spring-techniques-feature-toggles-for.html for approach but not details)
Would either of these be helpful?  I'm happy to contri

[2016-01-11 12:46] marceloverdijk commented on #134
I'm quite interested in this myself and written custom Boot autocofigurations; I will have a look at this.

[2016-01-11 13:58] marceloverdijk commented on #134
@chkal would you be interested in a contributed togglz-boot module which acts as a starter and autoconfiguration for Spring boot.
Meaning it will autoconfigure Togglz automatically with sensible defaults but off course this can be changed/overridden by the users.

[2016-01-11 16:09] chkal commented on #134
@marceloverdijk & @binkley:

Of cause I'm interested in any kind of contribution for Spring Boot integration. Especially as I'm not very familiar with Spring Boot. I see there are many people looking forward to improved support for Spring Boot.

If you need any help or if you would like to discuss the technical details before starting to code feel free to post on this thread. :)

[2016-01-11 16:19] marceloverdijk commented on #134
@chkal I'm setting up a sample project this week and are also discussing this with the Boot guys.
From there we can see where we can put the code best: Spring Boot, Togglz, or a standalone project. I will keep you informed.

[2016-01-11 16:21] php-coder commented on #134
@marceloverdijk IMHO it's better to name module `togglz-spring-boot` instead of `togglz-boot`. Also I could test it when it will be ready.

[2016-01-11 16:34] chkal commented on #134
@marceloverdijk Awesome. Thanks a lot.

@php-coder +1 for `togglz-spring-boot` _if_ the code is contributed to Togglz instead of adding it to Spring boot directly... And thanks for your help with testing.. :)

BTW: I just wrote a few lines about how to contribute to Togglz:

https://github.com/togglz/togglz/wiki/Contributing

[2016-01-11 22:06] marceloverdijk opened #145 "Does Togglz support a multiple state repositories?"
Does Togglz support a CompositeStateRepository which e.g. first uses a JDBCStateRepository but if it cannot find the feature it will try e.g. a FileBasedStateRepository?

Use case is that via the JDBCStateRepository a particular feature is searched for the logged in user.
But if the feature value is not stored for the user we want to fall back on default settings in file.

[2016-01-12 07:05] chkal commented on #145
Have a look here:

https://github.com/togglz/togglz/blob/master/core/src/main/java/org/togglz/core/repository/composite/CompositeStateRepository.java

:)

[2016-01-12 07:05] #145 closed

[2016-01-12 07:41] marceloverdijk commented on #145
Thanks! I was looking at 2.0.0 apidocs instead of latest 2.2.0.

[2016-01-12 09:11] marceloverdijk commented on #134
Yes indeed `togglz-spring-boot` is a better name.

[2016-01-14 07:25] marceloverdijk opened #146 "Add `addActivationStrategies` to DefaultActivationStrategyProvider"
Add `addActivationStrategies` to `DefaultActivationStrategyProvider` so a list of strategies can be added with a shorthand method.

[2016-01-14 07:28] marceloverdijk opened #147 "Add additional constructor(s) CompositeStateRepository so it works better with lists"
The currecnt `CompositeStateRepository` constructor does not work well if you have a list (or even arrray) of state repositories.

The only constructor is has is now:

[code]

Maybe good to add something like:

[code]

[2016-01-14 07:53] marceloverdijk commented on #134
I have a - in progress - sample at https://github.com/marceloverdijk/spring-boot-togglz
It uses Spring Boot to configure Togglz automatically.

[2016-01-14 08:00] marceloverdijk opened #148 "Add StateRepositoryProvider concept"
Just like there is a `ActivationStrategyProvider` and a `FeatureProvider`.
It should be able to set this `StateRepositoryProvider` in the`FeatureManagerBuilder`.

[2016-01-14 09:09] chkal commented on #147
Unfortunately I don't think this is possible as both constructors are overlapping. Which of the two should the JVM execute when you call:

[code]

But I agree that the constructor is very nice. Perhaps we could replace the old one with the new one suggested by you without breaking compatibility?

[2016-01-14 09:15] chkal commented on #148
Note sure if I understand this request.

Togglz needs a list of all available activation strategies to populate the dropdown of the admin console so that the user is able to select one strategy from the list of all available ones. That's why this provider exists. Back then only the JDK ServiceLoader mechanism was supported. Later we added this provider interface so that people can also register av

[2016-01-14 09:18] chkal commented on #146
Sounds good. Pull requests welcome. :)

[2016-01-14 09:49] marceloverdijk commented on #147
Yes fair enough, as I think the current constructor is not so nice practical.

[2016-01-14 09:52] marceloverdijk commented on #148
OK no problem. I was just thinking about more consistency building the featuremanager.
If the feature manager could be build with a StateRepositoryProvider users might be more dynamic to provide the state repository. But maybe the benefit is not that big.

[2016-01-14 10:23] chkal commented on #146
Pull request applied.

[2016-01-14 10:23] #146 closed

[2016-01-14 10:33] php-coder commented on #134
As I can see you've create the project that is the sample how to use Spring Boot with Togglz. Could you create a separate project just with this integration piece? In this case I could add it as the Maven dependency to my project. Also, why you're using `com.mycompany` package? It looks a bit weird and unexpected.

[2016-01-14 10:38] marceloverdijk commented on #134
@php-coder Yes this is the idea! Currently it's work in progress.
When it's finished I need to check if we can add this to Boot or as separate module in togglz project.
Won't take to long I think.

[2016-01-14 13:22] chkal commented on #148
Not sure what you mean with "being more dynamic". Users typically set a single configured state repository via the builder. I don't know how a list of "known repository implementations" can help here.

[2016-01-14 13:23] chkal commented on #147
Fixed by #150

[2016-01-14 13:23] #147 closed

[2016-01-14 21:45] marceloverdijk commented on #134
@php-coder new location: https://github.com/marceloverdijk/togglz-spring-boot and the starter is now included in separate module. Still work in progress!

[2016-01-18 19:43] marceloverdijk opened #151 "Provide more control over the Admin Console's authentication mechanism"
Currently the authentication of the Admin Console is tight to the `FeatureManager`s `UserProvider`.

I quick (short-term?) solution would be to make if configurable to completely bypass the the check in the `TogglzConsoleServlet` to see if user is admin (and let apps take care of that in their own way).
This would also be extremely useful when providing a `NoOpUserProvider`. In that case you don't

[2016-01-18 21:53] marceloverdijk commented on #134
@php-coder  https://github.com/marceloverdijk/togglz-spring-boot is getting in good shape.
It contains some samples as well.
Please feel free to provide feedback.

[2016-01-19 05:28] chkal commented on #151
I just committed a minor change which is basically a very lightweight way for option 2.

Basically users can now simply extend `TogglzConsoleServlet` and overwrite the `isFeatureAdmin` method. I actually think this is the most flexibel solution. IMO using a custom authentication strategy for the console servlet is actually a very rare case. But now users can simply extend the servlet and implement

[2016-01-19 09:29] marceloverdijk commented on #151
Yes it's a good start :-)

For me personally a more flexible handling of authentication should not be the scope of Togglz.
I think that's something for the security framework used in the app itself.
Therefore the ability to bypass the `UserProvider` should be enough imo.

[2016-01-19 09:32] marceloverdijk commented on #151
I will use something like this for the Boot auto configuration

[code]

[2016-01-19 14:39] chkal commented on #151
Ok, great, this should work fine I think.

BTW: I'm just a bit concerned that the admin console is not protected by any authentication mechanism by default. Isn't this a bit dangerous? How do other Spring Boot auto configuration features support something like this?

[2016-01-19 14:39] php-coder commented on #134
@marceloverdijk How I can use it as Maven dependency?

[2016-01-19 14:54] marceloverdijk commented on #151
Yes that's a good point. I will look into it as the default endpoints in Boot are also protected I believe.

[2016-01-20 10:25] marceloverdijk commented on #134
Hi Vyacheslav,

Currently we don't have this in Maven as it's work in progress.
But you can already build it locally using gradlew clean install
In that the starter is deployed to you local maven repo and you can add in
to your project.

Let me know if you need additional help.

Hopefully in not to long time I will publish something to Maven central.

On Tue, Jan 19, 2016 at 3:39 PM, Vyacheslav Se

[2016-01-20 12:07] marceloverdijk commented on #134
@php-coder I haven't managed to deploy a snapshot to maven. However you can build it easily locally for now. See "Building from Source" section at https://github.com/marceloverdijk/togglz-spring-boot.
It's basically just running gradlew clean install and you add the dep as Maven dep to your project. As it uses the Gradle wrapper you don't even have to install Gradle.

[2016-01-20 13:10] php-coder commented on #134
@marceloverdijk Ok, thanks! I will try to use https://jitpack.io/ for building the artifacts for Maven.

Could also add auto configuration for Thymeleaf Togglz Dialect? (https://github.com/heneke/thymeleaf-extras-togglz).

Also I want to ask: before I used `JDBCStateRepository` with `CachingStateRepository`. Does your integration support such scenario?

[2016-01-20 13:26] php-coder commented on #134
It fails with error: `java.lang.NoClassDefFoundError: org/togglz/spring/util/ContextClassLoaderApplicationContextHolder` Looks like, I need some dependency..

[2016-01-20 13:43] chkal commented on #134
You have to update Togglz to 2.3.0-SNAPSHOT to use the Spring Boot integration.

See this page for details on how to use the snapshots:

http://www.togglz.org/download.html

[2016-01-20 15:19] marceloverdijk commented on #134
@php-coder You can define your own `StateRepository` bean. In that case the auto configuration will not create one. The `FeatureManager` created by the auto configuration will use it automatically.

[2016-01-20 16:07] php-coder commented on #134
I would like to remove my Togglz config completely. To do so I need to have ability
1) define `FeatureProvider` in `application.{yml,properties}` (maybe you could add `togglz.feature-class-name` property?)
2) use `CachingStateRepository` (maybe you could add `togglz.repository.cache-enabled` property)
3) auto-register of Thymeleaf Togglz Dialect

[2016-01-20 18:56] marceloverdijk commented on #134
@php-coder

1. Yes I ad a property like but removed it. Will add it again.
2. Yes good point. I will add this.
3. I will look into this.

[2016-01-20 21:15] marceloverdijk commented on #134
@php-coder Both 1) and 2) are now implemented. See the README at the https://github.com/marceloverdijk/togglz-spring-boot with new configuration properties.
Also both /samples have been updated to demonstrate usage of `feature-enum` property (hello-world sample) and the `cache` capability (spring-security) sample.

Hope to have a look at 3) tomorrow.

[2016-01-20 23:03] binkley commented on #134
I've been noodling at this for a while.  The main impediments at present:

1. Injecting the FeatureManager into the Spring conditional @ConditionalOnFeature(...)
2. Getting boot auto-configuration "just right", though I'm pretty close on this

I'm providing application settings like this:

[code]

[2016-01-20 23:03] binkley commented on #134
I also have some extra working code to use a feature toggle annotation on controller endpoint hander methods, rather than on the entire controller class.

[2016-01-21 08:10] marceloverdijk commented on #134
@binkley please have a look at https://github.com/marceloverdijk/togglz-spring-boot it contains quite comprehensive support for Togglz autoconfiguration.

Can you share some more details regarding you `@ConditionalOnFeature` and how to use feature toggle on controller endpoints. The latter one sound more like a Toggle Spring-Web functionality (with auto configuration in the Togglz Spring Boot modu

[2016-01-21 08:10] marceloverdijk commented on #134
@binkley is you code public available?

[2016-01-21 10:51] binkley commented on #134
@marceloverdijk Right.  It's licensed as Public Domain, but I haven't put it up in GitHub yet as I wanted to work out the issues I mentioned.  Apologies.  Let me see what I can do & post back when ready.

A "not ready" but working scratch version is there.  It's missing some of the key goals I want, but does demonstrate the approach we took for putting toggle annotations on controller endpoint met

[2016-01-21 10:53] binkley commented on #134
@marceloverdijk The approach above is working through Spring MVC.  We're also spiking an approach with Spring AOP.  It would not be quite as flexible, but more promising for lower impact on our internal project.  Spring MVC & Boot have so many different extension points, our own codebase has tripped over itself with inconsistency among different teams.

[2016-01-21 10:59] marceloverdijk commented on #134
@binkley Are we having overlap with the Spring Boot integration? I also put a lot of effort in it and it is getting quite stable now.

[2016-01-21 11:00] binkley commented on #134
@marceloverdijk I'll definitely be looking yours over today.  I hate to write code when I can reuse.  :-)  Also, happy to contribute if I have something not covered in your project.  Thanks!

[2016-01-21 23:12] marceloverdijk commented on #134
@php-coder I just added the Thymeleaf Togglz dialect.
Please pull the git repo and install a new snapshot.
When you add the `thymeleaf-extras-togglz` dep to your project the auto configuration will add the dialect automatically. I've even create a Thymeleaf sample at https://github.com/marceloverdijk/togglz-spring-boot/tree/master/samples/togglz-spring-boot-sample-thymeleaf.

[2016-01-22 10:43] marceloverdijk commented on #134
BTW: just pushed a commit that changes the default Togglz admin console path to /togglz-console (was just /togglz). This to create Boot endpoint on /togglz to just display current feature sates.

[2016-01-22 17:44] marceloverdijk commented on #134
Added a Togglz actuator endpoint for viewing feature states over jmx/http.

[2016-01-23 08:19] chkal commented on #151
I'll close this one as #152 and 3d7f86f0ae5c93affe981f8a3ea67a4499fb31ef now provide much more control...

[2016-01-23 08:19] #151 closed

[2016-01-24 21:04] php-coder commented on #134
@marceloverdijk Thank you for the great work! It addresses most of my requirements, except one:

Is it possible that you will solve it?

[2016-01-24 22:02] marceloverdijk commented on #134
@php-coder I think almost every application has a DataSource but not all of them would use a JDBCStateRepository. E.g. personally I would use a file in most cases.
You can always provide your own `StateRepository` like:

[code]

[2016-02-08 22:45] marceloverdijk commented on #134
@chkal the Boot team tends to prefer to add the Togglz - Boot integration to a Togglz module.
Shall I work on a PR to include it as a submodule to the project.
I favor to name it togglz-spring-boot-starter as it is basically a starter containing auto configuration.
Best would be to separate the autoconfigure code to a second togglz-spring-boot-autoconfigure module.
Is that ok for you if I create 2

[2016-02-09 12:27] chkal commented on #134
Sure, as I wrote before I would be happy to see the Spring Boot support as a Togglz module. So go ahead and prepare a pull request.

Creating two modules is fine if it makes sense for the users. But I'm not sure if I understood the distinction between the two correctly. Could you explain this a bit more?

[2016-02-09 12:37] marceloverdijk commented on #134
OK I will work on a PR.
For the distinction see http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-custom-starter
Basically the *-autoconfigure module is never used directly by the user, so re-thinking about it, I doubt if there is a benefit of using 2 modules.
Following the Boot naming conventions we should then create a module `togglz-spring-boot-starter`.
Hopeful

[2016-02-09 13:38] marceloverdijk commented on #134
PR https://github.com/togglz/togglz/pull/154 created.

[2016-02-09 13:38] chkal commented on #134
Ok, thanks for explaining. I also think that one module should be enough. I don't see a real benefit of splitting it into. I'm just wondering if we should name module `togglz-spring-boot` instead. If we don't split into `starter` and `autoconfigure`, this may be simpler? And it would follow the naming conventions for the other Togglz modules...

[2016-02-09 13:40] marceloverdijk commented on #134
`-starter` suffix is a good naming convention for Spring Boot Starters as it states explicitly what it is.
I think for now that's the best name. If you really want to name it differently, that's ok for me :-)

[2016-02-09 13:43] chkal commented on #134
No, I'm fine with this suffix. If it is a common Spring Boot naming convention, we should keep it.

Thanks a lot for the PR. Unfortunately I'm currently very busy. But I hope I'll find some time to have a depper look at it tomorrow...

[2016-02-09 13:45] marceloverdijk commented on #134
OK no problem. I need to write the documentation anyway.

[2016-02-09 15:35] marceloverdijk commented on #134
And here is the PR for the documentation: https://github.com/togglz/togglz-site/pull/4

[2016-02-19 11:45] binkley commented on #134
Any timeline on release of 2.3.0?  I'd like to get this feature into the hands of my teams.  :-)

[2016-02-19 12:07] chkal commented on #134
I would love to get some more feedback if possible. Perhaps we could release 2.3.0.RC1 soon. As soon as the bits are in Maven Central, more people will probably try it. :)

[2016-02-23 12:19] chkal commented on #134
FYI: Togglz 2.3.0.RC1 has been released. This version ships with the new Spring Boot support by @marceloverdijk. Any kind of feedback is welcome. :)

[2016-03-02 12:13] binkley opened #156 "Adding actuator starter to togglz starter complains of duplicate application context"
Using Togglz 2.3.0.RC1.

Issue demonstrated here: https://github.com/binkley/eg-togglz-spring-boot/commit/32f188cfd879d8bed964ffdcc9f0cf1e22895340.

Adding spring-boot-actuator-starter to my dependencies broke web integration test with complaint:

[code]

(Disregard togglz-console -- it's in dependenciesManagement block, not a project dependency.  I want to try it next after getting past this issu

[2016-03-02 12:55] marceloverdijk commented on #156
Hi @binkley how do you run these tests?

[2016-03-03 10:59] binkley commented on #156
[code]

[2016-03-03 11:24] marceloverdijk commented on #156
On top level project:

[code]

and on webapp:

[code]

[2016-03-03 11:42] marceloverdijk commented on #156
Btw I think the issue is that the IT test is causing multiple `ContextRefreshedEvent` events.
This event binds the application context to a holder (based on classloader) but will fail if it was already binded: https://github.com/togglz/togglz/blob/master/spring-core/src/main/java/org/togglz/spring/util/ContextClassLoaderApplicationContextHolder.java#L39

If this behaviour is normal with IT tests t

[2016-03-03 12:53] chkal commented on #156
Actually I added this additional check and the corresponding `IllegalStateException` because such an exception usually occurs if the `release()` method isn't called correctly which will usually result in class loader leaks which are very hard to find.

Therefore, if Spring doesn't fire a `ContextClosedEvent` before firing a new `ContextRefreshedEvent`, this should perhaps be handled in `TogglzAppl

[2016-03-03 13:14] marceloverdijk commented on #156
Yes, sound like a reasonable change. Will do that this evening.

[2016-03-03 13:26] chkal commented on #156
Awesome. Thanks a lot. :)

[2016-03-03 16:05] marceloverdijk commented on #156
@chkal Btw `org.togglz.core.logging.Log` does not have a `warn` method. So probably `info` best option for now.

[2016-03-03 16:30] chkal commented on #156
@marceloverdijk Good find! Fixed! :)

https://github.com/togglz/togglz/commit/bf3530094bcbdc05be389e25d55f43adc685e753

[2016-03-03 20:44] marceloverdijk commented on #156
Fixed bind issue via bf35300

On a side note I also fixed/enabled the unit tests of the `togglz-boot-starter` module. In my original Gradle project they were named `*Tests` but renamed them to `*Test`.

[2016-03-04 05:39] chkal commented on #156
@marceloverdijk Awesome! Thanks a lot!

@binkley Could you give the latest snapshots a try?

[2016-03-05 14:07] binkley commented on #156
@chkal Happy to give it a go in a day or two.  This is my one-and-a-half days out of the week I get to spend at home.  :-)

[2016-03-05 16:36] chkal commented on #156
Sure. You shouldn't work on weekends. :)

[2016-03-05 18:01] #55 closed

[2016-03-06 18:34] binkley commented on #156
@chkal @marceloverdijk Works for me - thanks!

[2016-03-06 21:03] marceloverdijk commented on #156
Thx for feedback!

[2016-03-06 21:03] #156 closed

[2016-03-31 14:46] jayamathur commented on #118
@rahilk-ezdi Hi! Could you let me know what was the reason for the 403 Forbidden access error for your togglz console? I am struggling with the same error.

[2016-03-31 15:28] chkal commented on #118
Which `UserProvider` are you using. Make sure that the `FeatureUser` which is returned from the `UserProvider` is a feature admin (`user.isFeatureAdmin() == true`).

[2016-03-31 16:57] jayamathur commented on #118
I have overriden getUserProvider  with below method in the class that I am implementing TogglzConfig. But on startup, it finds featureUser as null. I am using togglz-spring-boot-starter

@Override
    public UserProvider getUserProvider() {
        return new UserProvider() {
            @Override
            public FeatureUser getCurrentUser() {
                return new SimpleFeatureUser("admin

[2016-03-31 17:53] chkal commented on #118
Hmmm... So the feature user is null? Where does it resolve to null? In the console servlet?

@marceloverdijk Could this relate to the spring-boot-starter?

[2016-03-31 18:27] jayamathur commented on #118
@chkal Thanks for your reply! This issue is resolved for me now, I found that the project had a SingletonFeatureManagerProvider which was building the featureManager. It still had the userProvider set as NoOpFeatureUser. As soon as I changed that to my own userProvider it was resolved.

[2016-03-31 18:28] jayamathur commented on #118
However, I have a new error now. I am not able to configure the stateRepository to my own database table. As long as I use InMemoryStateRepository, I can start the server and see the togglz admin console. But if I try to change the stateRepository to my project's database table, it throws null pointer exception.

I am upgrading this project from java 6 to 8, and we were using JDBCStateRepository(d

[2016-03-31 18:50] chkal commented on #118
Please open a new issue for this and include the full stack trace.

[2016-04-25 08:39] piefel opened #157 "JavaScript evaluation seems to eat memory"
Recently, I had a case when I wanted to choose the new or the old variant of a certain feature based on a percentage, and I used Togglz and the Java Scripting API activation strategy for it. I used the following JavaScript: `Math.random() < Math.pow(1 - (27 - date.getDate()) * 0.2, 3)` to increase usage day by day.

However, this decision is made _often_ in the code, and there seems to be a leak.

[2016-04-26 07:47] chkal commented on #157
Hey. Thanks a lot. Could you perhaps rerun this test and add `System.gc();` just before reading the free memory?!? I wonder whether the memory consumption really increases or not. Note sure what we can do about this. The code is straight forward:

https://github.com/togglz/togglz/blob/master/core/src/main/java/org/togglz/core/activation/ScriptEngineActivationStrategy.java#L49-67

[2016-04-26 13:41] piefel commented on #157
OK, I tried that, including timings for the GC. It holds a lot longer, but still dies in the end:

    49% - 4.769 s -- 736 MB free - 779.5 ms
    54% - 3.677 s -- 857 MB free - 986.5 ms
    51% - 2.581 s -- 1073 MB free - 970.7 ms
    48% - 2.757 s -- 1260 MB free - 1.059 s
    50% - 2.652 s -- 1475 MB free - 1.310 s
    49% - 3.343 s -- 1599 MB free - 1.442 s
    51% - 2.961 s -- 1600 MB free -

[2016-04-26 14:05] piefel commented on #157
I might have found one problem in your code, though. You get a new instance of the scripting engine on each decision. This is probably unnessary, one (perhaps `ThreadLocal`) should be enough. When I patched the routine to get the ECMAScript engine only once, the following values came up (for the more involved JavaScript expression):

    52% - 36.23 ms -- 269 MB free
    51% - 32.87 ms -- 265 MB f

[2016-04-27 14:53] chkal commented on #157
Thanks a lot for sharing your results. It really looks like creating a lot of script engines are somehow causing this problem. Although I'm not sure why this is the case. The `ScriptEngine` interfaces doesn't provide any `close()` or `shutdown()` methods. So there seems to be no way to correctly close it.

Basically I agree that reusing script engines would solve this issue. But to be honest I'm n

[2016-04-27 15:24] piefel commented on #157
They are not required to be thread-safe. That can be queried on the engine. Rhino was thread-safe, Nashorn isn’t. It’s easy to put them in a `ThreadLocal`, of course. But about that possible internal state – very interesting question.

[2016-04-28 16:43] chkal commented on #157
Why do you think a `ThreadLocal` would be a good idea. Basically I like `ThreadLocals`, but it only works if you can gracefully clear the `ThreadLocal` or you will end up with memory leaks.

[2016-05-13 17:39] ryangardner commented on #157
I added a microbenchmark around this specifically - https://github.com/togglz/togglz/pull/159 when I ran it I found that each invocation of "isActive" call against a feature using something like what you have here allocated around 820KB of memory - which is quite a bit.

With 7 threads, I could get 1262.683 operations per second.

A `ThreadLocal<ScriptEngine>` made the performance much better with

[2016-05-14 07:11] chkal commented on #157
Thanks for sharing the results of the benchmark. I agree that ThreadLocals aren't a good way to handle this scenario. As we cannot "close" script engines in a portable way, we MUST reuse them to prevent memory leaks. And as @ryangardner pointed out, this will also have a very positive effect on performance. I like the idea of a pool of script engines. We just have to make sure that accessing scrip

[2016-06-17 16:16] norbson opened #164 "Auto-caching existing StateRepository if enabled"
Current Autoconfiguration support automatic wrapping of StateRepository into CachingStateRepository only if there is no predefined StateRepository.

[code]

Lets say that I defined JDBCStateRepository on my own and in the same time I set cache properties:
[code]

I would expect that autoconfiguration wrap my stateRepository into cached one according to above properties.

Regards,
Norbert Krzysztof

[2016-06-17 16:35] marceloverdijk commented on #164
Sounds like a fair use case, I hope to look into it this weekend.

[2016-06-17 17:35] marceloverdijk commented on #164
@norbson I've added this feature to the 2.3.0-SNAPSHOT (https://oss.sonatype.org/content/repositories/snapshots/org/togglz/togglz-spring-boot-starter/2.3.0-SNAPSHOT/togglz-spring-boot-starter-2.3.0-20160617.173004-18.jar). Would you be able to test it and let us know?

[2016-06-20 12:47] norbson commented on #164
OK, scenarios which I went through

[code]

[2016-06-20 14:25] norbson commented on #164
:+1:

[2016-06-24 00:07] fabito opened #167 "DatastoreStateRepository should only open a new transaction when there is already an opened one"

[2016-06-24 02:23] fabito opened #169 "MemcacheStateRepository hits datastore multiple times when feature state is not persisted"
MemcacheStateRepository should cache null values properly

[2016-06-24 04:45] #169 closed

[2016-06-24 04:46] chkal commented on #169
Merged! Thanks!

[2016-06-24 04:48] #167 closed

[2016-06-24 04:49] chkal commented on #167
Merged! :beers:

[2016-06-28 13:34] MinjieTao opened #171 "FeatureManager is not found in jetty 9"
Hi,

I used togglz in my web service which used spring framework. However, I found that the togglz works in jetty8 but it shows error as below.

All the code and java version is the same.
By the way, I used togglzConfig to generate a FeatureManager.

Does anyone have some idea about it :)

[2016-06-28 15:51] chkal commented on #171
Togglz uses a `web-fragment.xml` file for automatic registration of required filters during application startup. Perhaps you need some additional dependency for making this work in Jetty9? I vaguely remember that there was some kind of jetty-plus dependency for additional features.

[2016-06-29 03:37] MinjieTao commented on #171
I solved this problem by add configuration below to web.xml.
[code]
However, I don't know why because jetty 9.3.6  supports Servlet 3.1 as showed in [https://en.wikipedia.org/wiki/Jetty_(web_server)](url).

[2016-06-29 06:51] chkal commented on #171
Hmmm. In this case it looks like your Jetty setup doesn't support web fragments for some reason. I'm not very familiar with Jetty, so I don't think I can help here. :-(

[2016-06-29 15:21] MinjieTao commented on #171
Anyway, thank you for your reply!

[2016-06-29 15:21] #171 closed

[2016-06-29 20:36] wgorder opened #173 "SpringSecurityUserProviderConfiguration errantly triggers during autoconfiguration"
If you have spring-security on the classpath but do not include

[code]

Autoconfiguration will fail due to the way that the Conditional Beans are currently set up.  In my case I do not wish to use Togglz security at all.  Therefore the below block of code should be conditional on something that is brought in with the togglz-spring-security artifact to prevent it from activating otherwise.
I think

[2016-06-29 20:43] wgorder opened #174 "Autoconfiguration fails silently when FeatureProvider is not provided"
This is regarding Spring Boot autoconfiguration.  Some sort of exception should be thrown if the user does not configure a FeatureProvider with any of the methods provided.  I tested this and my app failed to start and gave no indication, the problem was no FeatureProvider was provided.

[2016-06-29 21:25] marceloverdijk commented on #174
Which version of the Togglz starter are you using? We discussed this behavior on gitter and other people didn't want an exception and I do agree honestly.
What kind of error did you get that prevented you from starting your app?

[2016-06-29 21:28] marceloverdijk commented on #173
What error are you getting? Would you be able to post a stacktrace?

[2016-06-30 07:03] marceloverdijk commented on #173
Yes I think you are right about adding the `SpringSecurityUserProvider` class to the conditional on class.
I will push a change to `master` shortly.

[2016-06-30 07:07] marceloverdijk commented on #173
Change is pushed to `master` and will be available in latest snapshot. Please watch https://travis-ci.org/togglz/togglz/builds/141267422.
Thanks for reporting this @wgorder!

[2016-06-30 07:07] #173 closed

[2016-06-30 09:44] chkal opened #175 "Encoding issue in Togglz Console"
It looks like non-ASCII characters are broken when saved via the edit page. According to feedback from the users lists calling `HttpServletRequest.setCharacterEncoding("UTF-8")` fixes this.

[2016-06-30 13:55] wgorder commented on #174
Well connections to AMPQ and some other weird things happened.  The tomcat container then blew up with all sorts of weird SL4J errors and other things.  Nothing in the log though indicated the problem was this configuration.  However adding the FeatureProvider fixed everything.  The docs do cover that you need to provide one, however I think its not good that if one is not provided things can pote

[2016-07-01 07:06] marceloverdijk commented on #174
Hmm, is this a project you can share? I'm really wondering what kind of errors you get...
I don't understand what the missing `FeatureProvider` can cause the AMPQ connection failures, because when you don't provide the `FeatureProvider` or `togglz.feature-enums` property the whole Togglz Auto Configuration is ignored (not executed) as can be seen here: https://github.com/togglz/togglz/blob/master/

[2016-07-01 07:10] marceloverdijk commented on #134
I think we can close this issue now. Boot support is now available since `2.3.0.RC1` and additional requests can be requested/captured via new issues.

[2016-07-01 07:10] #134 closed

[2016-07-01 08:26] marceloverdijk commented on #174
@wgorder I'm still unsure why you get this error, but I made some changes to `master` anyway.
When adding the `togglz-spring-boot-starter` it will mean Togglz will be now be initialised even when no `FeatureProvider` is provider or the `togglz.feature-enums` property is set.
The auto configuration will automatically create a dummy feature provider and writes a warning to the log.

Can you please w

[2016-07-01 18:11] wgorder commented on #174
@marceloverdijk  Unfortunately it is a big project, and I cannot share it,  there are lots of moving parts.   I did not take the time to figure out  what the cause was exactly, but I do know what fixed it was adding the  bean specified in the docs.

[code]

That is the only thing I had added to my configuration.  I did not override anything else.

You can feel free to close this if you would like.

[2016-07-01 18:13] marceloverdijk commented on #174
OK I will close it now as we changed the behaviour anyway.

[2016-07-01 18:13] #174 closed

[2016-07-01 20:10] gpt559 opened #176 "Logging when a Toggle state is changed"
I'm trying to find a way to log when a toggle is turned on/off from the admin console. To start using togglz in production I need to be able to have a transaction logged that says Who made What change.

I don't see an easy way to AOP so I was wondering if someone could point me in the right direction.

I was looking at the EditPageHandler.java::process method
https://github.com/togglz/togglz/blob/

[2016-07-02 06:45] chkal commented on #176
I usually recommend to create a custom state repository to log feature state modifications.

See for example:

https://groups.google.com/forum/m/#!topic/togglz-users/M1Bh3yMTgvU

[2016-07-05 13:49] gpt559 commented on #176
@chkal that worked. I didn't do that before because I wasn't sure if I could get the current user, but that ended up being moot since I could just pull that information from the SecurityContextHolder.

Thanks!

[2016-07-05 13:49] #176 closed

[2016-07-27 06:29] charithdesilva opened #177 "Load custom activation strategies through Spring"
Hi

I'm building up a mini framework to overload activation strategies one after another (AND or OR relationship). I found it'd be really helpful if I can initiate strategies through Spring rather SPI used currently. I just started looking into actual implementation, appreciate if you have any insight on this?

Charith

[2016-07-27 06:43] chkal commented on #177
There is an SPI for that:

https://github.com/togglz/togglz/blob/master/core/src/main/java/org/togglz/core/activation/ActivationStrategyProvider.java

IIRC you can set the strategy if you build the FeatureManager using the FeatureManagerBuilder.

[2016-07-27 07:03] charithdesilva commented on #177
I'm using FeatureManagerFactory to load FeatureManager (initiate through spring context). FeatureManager doesn't have a setter to add activation strategies dynamically.

[2016-07-27 07:09] charithdesilva commented on #177
And there's no way to inject strategy provider into FeatureManagerFactory either :(

[2016-07-27 07:18] chkal commented on #177
If you have an "advanced setup", I recommend to use FeatureManagerBuilder instead as this is the "primary" way of creating a FeatureManager and it doesn't depend on Spring. You could use Spring's Java Config style for that. So basically create a method annotated with `@Bean`.

[2016-07-27 07:19] chkal commented on #177
FeatureManagerFactory is primarily used for XML configuration. And nobody wants that. ;-)

[2016-07-28 02:10] charithdesilva commented on #177
Spot on Chris. Cheers! I'm sharing my implementation for future users.

[code]

[2016-07-28 04:46] chkal commented on #177
Great! That looks perfect. Actually this is my preferred way to bootstrap Togglz. Use the FeatureManagerBuilder to create a manager, let it be managed by the framework of your choice and Togglz will automatically discover it using the corresponding framework integration modules. :-)

[2016-07-28 04:46] #177 closed

[2016-07-29 01:34] charithdesilva commented on #54
I've done a base strategy class that can mix and match strategies through spring config. So if you are on spring, you can create many composite strategies as possible without touching java code. Sharing configuration for future users. cheers!

P.S. You can improve the same base class to accept chain of AND | OR to represent gates you need to apply.

[code]

[code]

[2016-07-29 06:13] chkal commented on #54
@charithdesilva Thanks for sharing your code. ;-)

[2016-08-09 07:31] jkubrynski opened #178 "Add callbacks on feature state changed"
It would be nice to be able to attach listeners to StateRepository. Currently all applications I saw using toggle were doing that by overriding JDBCStateRepository.

[2016-08-09 07:33] jkubrynski opened #179 "Add feature states audit"
It will be useful to be able to check when feature states were changed. Currently problem in togglz in enterprise applications is that there is a several dozen of features which are unchanged for many months.

[2016-08-29 13:45] C-Otto opened #180 "Documentation: How are feature groups configured without console?"
The page regarding [feature groups](http://www.togglz.org/documentation/feature-groups.html) mentions how to define feature groups, but does not explain how these are configured outside of the admin console. As I configure using Archaius, I have no idea how to make use of feature groups.

[2016-08-29 14:30] chkal commented on #180
Just define the group and place them on your enum fields. The console should automatically display them correctly. You don't need any extra step to configure the console.

[2016-08-29 17:13] C-Otto commented on #180
@chkal I was asking how to make use of feature groups **without** using the console.

[2016-09-04 15:25] chkal commented on #180
Oh sorry, I misunderstood your question. Currently feature groups are just used for a visual grouping in the admin console. So if you are not using the admin console, there is very little use for feature groups.

[2016-09-05 20:52] C-Otto commented on #180
I see. I'd prefer this to be stated somewhere in the documentation.

[2016-09-15 07:19] chkal commented on #180
If you have any idea how to improve this section of the documentation, feel free to open a pull request. The site source is freely available:

https://github.com/togglz/togglz-site/blob/master/documentation/feature-groups.html.haml

[2016-09-15 07:49] hexmind commented on #178
For this feature you should use CompositeStateRepository with 2 your repositories: JDBCStateRepository and ListenerStateRepository
https://www.togglz.org/apidocs/2.3.0.RC2/org/togglz/core/repository/composite/CompositeStateRepository.html

[2016-09-15 07:51] hexmind commented on #179
Yes, it will be very useful to have updated_at column.

[2016-10-13 07:22] aeldemerdash opened #183 "Syntax Error in documentation"
In authentication.html --> ThreadLocalUserProvider Section
You have to correct class "ThreadLocaleUserProvider" to be "ThreadLocalUserProvider"

[2016-10-13 09:41] hexmind commented on #183
Thank you. Fix is waiting for merge.

[2016-10-14 06:56] chkal commented on #183
I just merged the pull request! Thanks a lot!

[2016-10-14 06:56] #183 closed

[2016-11-09 18:44] zhangchi opened #185 "togglz's support for junit @BeforeClass and @AfterClass is weird"
Hi,

Here is a simple test we did, we are running with annotation `@RunWith(FeatureVariations.class)`:

[code]

Our test is running in embedded glassfish as an EJB integration test. In our test, we simple do the following:

[code]

This is what we got:

[code]

So, two questions over here:

1. Based on my understanding, the whole unit test should only be run twice since I only did the variation on

[2016-11-11 08:08] chkal commented on #185
It is very difficult to read your post especially because of the broken formatting. Could you perhaps fix this? I think this will help to understand your setup better.

[2016-11-21 13:18] AshishShetkar commented on #54
how do we do this in property file, i mean how about this
FEATURE_02=true

FEATURE_02.strategy=user-role,username --- this is not working
FEATURE_02.param.roles=roleb
FEATURE_02.param.users=chkal,john

[2016-11-21 15:39] chkal commented on #54
It is not possible to do this in the property file. See the comments above.

[2016-11-26 23:56] kevinstembridge opened #187 "Upgrade the mongo module to Mongo 3"
I've just come across Togglz and introduced it into an application that uses Mongo with version 3.3.0 of the Mongo Java driver.

The MongoStateRepository references a method that no longer exists in the newer version of the driver. The Db.authenticate method has been removed.

    protected DBCollection togglzCollection() {
        DB db = mongoClient.getDB(dbname);
        db.setWriteConcern(writ

[2016-11-27 11:01] chkal commented on #187
Hey @kevinstembridge,

I'm fine with updating the MongoDB driver version. I'm just wondering why this method has been removed. Is the authentication handled now in a different way? Any insights about that?

Anyway, updating the driver would be good. Any help with this is highly appreciated.

https://github.com/togglz/togglz/wiki/Contributing

[2016-11-27 12:42] charithdesilva commented on #30
Hi @chkal I'm happy to help on this project as this will be something on my pipeline too. Please let me know.

[2016-11-27 23:40] kevinstembridge commented on #187
Hi @chkal ,

I think they have a more sophisticated mechanism for authentication now and as far as I'm aware it's all taken care of at the MongoClient level. Since the MongoClient is provided to the MongoStateRepository I think it would be safe to remove authentication from the repository altogether.

I'm happy to take a look at providing a pull request. I'll let you know how I get on.

Cheers,
Ke

[2016-11-28 05:55] chkal commented on #187
I did a quick check and it looks like the authentication API changed significantly:

http://mongodb.github.io/mongo-java-driver/3.0/driver/reference/connecting/authenticating/

I guess it should remove username/password from the MongoStateRepository and use MongoCredential instances instead which could be configured by the builder. This way the user could use any authentication method required.

[2016-11-28 23:59] kevinstembridge commented on #187
Do you have any hints for writing integration tests? I couldn't see how the existing MongoStateRepository is tested.

[2016-11-29 13:40] chkal commented on #30
Hey @charithdesilva. Thanks for offering to help.

I thought a lot about how to implement such a restful API for Togglz. My main question is how to handle authentication. Exposing an XML/JSON representation of the feature state should be really easy. Although this should be done without using JAX-RS or something like that, because people may want to use it with Spring or other technologies.

[2016-11-29 13:42] chkal commented on #187
Unfortunately there are no integration tests for the MongoDB integration at the moment. Not sure how this could work. Does the MongoDB driver support something to write test without talking to a real MongoDB instance?

[2016-11-29 14:05] kevinstembridge commented on #187
I'll see what I can do with Fongo.
https://github.com/fakemongo/fongo

[2016-11-29 14:06] chkal commented on #187
Ok, great! :+1:

[2016-11-29 15:21] jkubrynski opened #190 "Expose admin-console in Spring Boot on management.port"
Currently, the `TogglzConsoleServlet` is exposed on the application port. It makes sense to use management port, which is used for configuration/management stuff. You can check this SO answer:
http://stackoverflow.com/questions/40851274/expose-togglz-admin-console-in-spring-boot-on-management-port

[2016-12-02 12:15] chkal commented on #190
Interesting idea. However, I'm not sure if this can be cleanly integrated into the Togglz Spring module.

@marceloverdijk: Any thoughts on that?

[2016-12-02 12:44] marceloverdijk commented on #190
Hmmm, indeed an interesting idea.
Looking at the stackoverflow implementation it feels a bit hackish... I will have a look.

[2016-12-02 13:05] chkal commented on #190
Would be interesting to know why it has to be hackish especially for the Togglz servlet. Looks like it has something to do with the way the servlet parses the URLs.

[2016-12-02 13:43] marceloverdijk commented on #190
I had a discussion about this on the Boot gitter forum and there is an alternative available:

[code]

I will look into it shortly.

[2016-12-02 14:49] chkal commented on #190
Awesome! Great!

[2016-12-02 16:23] jkubrynski commented on #190
@chkal Hacking was required due to way Togglz checks which handler to choose. With MvcEndpoint Servlet path contains whole url (servlet path == request url), so it ends up with togglz servlet adding "/index" all the time, resulting in "togglz/index/index/index/index/index/index/index...."

[2016-12-02 16:24] marceloverdijk commented on #190
@jkubrynski so looking at an alternative `@ManagementContextConfiguration` configuration bean might be a better fit...

[2016-12-02 16:30] jkubrynski commented on #190
@marceloverdijk totally right - it looks much better

[2016-12-03 15:14] chkal commented on #190
Hey @jkubrynski,

I see why the handler matching won't work in this case. But I'm not sure if Spring is allowed to return the full request URI with `HttpServletRequest.getServletPath()`.

The Javadocs of `HttpServletRequest` state:

What do you think? Isn't this a bug on the Spring side?

[2016-12-03 15:33] chkal commented on #190
From the Servlet 3.1 specification (section 3.5):

activated this request. This path starts with a ’ / ’ character except in the case
where the request is matched with the ‘ /* ’ or ““ pattern, in which case it is an
empty string.

[2016-12-03 20:00] jkubrynski commented on #190
@chkal It happens only when I use the `MvcEndpoint` so let's check how the situation will look like with `ManagementContextConfiguration`

[2016-12-04 11:19] marceloverdijk commented on #190
I have just pushed a change to `master` so the admin console is  - by default! - exposed on the management port (if there is management port defined).

This behaviour can be disabled by setting the application property `togglz.console.use-management-port: false`.

I've tested the all the scenario's myself and it works fine, but it would be nice if someone can verify as well... @jkubrynski this fun

[2016-12-04 11:24] marceloverdijk commented on #190
@chkal I created https://github.com/togglz/togglz-site/tree/190_expose_admin_console_on_management_port for updating the documentation regarding this new `use-management-port` property. We must not forget to merge that in with `2.4.0` release.

[2016-12-04 11:25] chkal commented on #190
@marceloverdijk: Awesome! Thank you so much for implementing this. I really think that this makes sense and will be very useful!

[2016-12-04 11:27] marceloverdijk commented on #190
Thanks to @jkubrynski for the suggestion 👍
Build https://travis-ci.org/togglz/togglz/builds/181099700 has passed so it should be in the snapshot now.

[2016-12-04 12:30] chkal commented on #190
@marceloverdijk Thanks for preparing the documentation update. I guess we need some kind of process how to update the site with regard to new features which will be part of the next release.

[2016-12-04 14:10] jkubrynski commented on #190
@marceloverdijk I've tested it and it's almost great :) Togglz console runs on management-port, however you don't include `management.context-path` while registering the servlet. When you set `management.context-path` to `:/manage` then console should be mapped to "host:management_port/manage/togglz-console"

[2016-12-04 16:32] marceloverdijk commented on #190
@jkubrynski thx for feedback will add that as well!

[2016-12-04 18:27] jkubrynski opened #192 "test"

[2016-12-04 18:27] #192 closed

[2016-12-04 18:28] jkubrynski commented on #192
Sorry - that was unintentional :)

[2016-12-04 19:56] marceloverdijk commented on #190
@jkubrynski `managememnt.context-path` is now added to the console path. Will be part in snapshot with build https://travis-ci.org/togglz/togglz/builds/181173516

[2016-12-05 07:49] jkubrynski commented on #190
@marceloverdijk I've added a comment here: https://github.com/togglz/togglz/commit/cb85ff021c2915081e3b2f0109a8eb4ee8fa58fb#commitcomment-20067766

[2016-12-05 10:59] marceloverdijk commented on #190
thx @jkubrynski I will have a look later today!

[2016-12-05 16:18] marceloverdijk commented on #190
@jkubrynski I pushed a fix, please try again.

[2016-12-05 17:00] jkubrynski commented on #190
@marceloverdijk Works great! Looking forward to seeing RC :)

[2016-12-05 17:00] #190 closed

[2016-12-06 12:52] marceloverdijk commented on #190
@jkubrynski I just pushed another change, would you be able to test it again to verify it works in your setup?

[2016-12-06 13:20] jkubrynski commented on #190
If you mean version `2.4.0-20161206.125550-13` then I confirm it's working correctly

[2016-12-06 13:39] marceloverdijk commented on #190
Yes that's the version; thanks for confirming :+1:

[2017-01-18 21:06] tristobal opened #198 "Add new features at runtime"
Hello.

I'm working in a project that manage features in database, but I need to add new features at runtime. Is it possible? Looking the implementations of FeatureProvider, the method getFeatures of EnumBasedFeatureProvider and PropertyFeatureProvider returns an unmodifiable collection of features.

Thanks in advance.

[2017-01-19 06:34] hexmind commented on #198
Hi, are you sure you need runtime created toggle?
Is your feature created in runtime too?

[2017-01-23 14:05] tristobal commented on #198
Yes.

I will create some record that needs specifics features for them =/

[2017-01-30 17:32] neocotic commented on #198
@tristobal Why not simply create your own implementation of `FeatureProvider` which is backed by the database? It seems to be the perfect place to start. Here's the JavaDoc for the interface:

[2017-01-30 17:36] neocotic commented on #185
I've reformatted the original post in an attempt to improve readability and hopefully it can get a response now. @zhangchi, is this still an issue?

[2017-01-31 00:12] neocotic commented on #185
I've just taken a look at the code and I believe that the reason that it's being called numerous times is that `FeatureVariations` appears to be extending `Suite`, which is designed for collecting multiple different classes, so it's setting up the test class for each child runner in the suite.

I propose that we change it to extend from `Runner` instead of `Suite`.

[2017-01-31 00:27] neocotic commented on #185
I've opened PR #200 with an attempt to fix this bug.

[2017-02-01 01:20] parxier commented on #178
@hexmind I don't think this will work out of the box. `CompositeStateRepository`'s default behavior only calls one (last) `StateRepository` for `setFeatureState` calls. It should be possible to achieve desired behavior setting `setterSelection` to call all `StateRepository`s.

[2017-02-01 06:32] hexmind commented on #178
You are right, sorry for no details. You need add to your composite constructor:
    this.setSetterSelection(SetterSelection.ALL);

[2017-02-01 15:34] chkal commented on #178
I think it really makes sense to think about a separate mechanism for this. It would be nice if one could register listeners at the `FeatureManager`. Something like:

[code]

But in this case the `FeatureManager` is responsible to inform the listeners. So calling `setFeatureState()` directly on the repository wouldn't trigger any notifications. Not sure if this is a problem. Actually one should us

[2017-02-02 04:32] parxier commented on #178
@hexmind Yeah, that'd work, except that there is no `SetterSelection.ALL` enum provided out of the box.

[2017-02-02 07:44] chkal commented on #198
@tristobal I agree with @neocotic. In your case it would perfectly make sense to provide your own `FeatureProvider` implementation which gives you all the flexibility you will need.

[2017-02-03 23:05] bmusazay opened #202 "Spring Boot admin console no longer working on spring-boot 1.5.1.RELEASE"
Seems like org.springframework.boot.context.embedded.ServletRegistrationBean is no longer included in the latest spring boot release, which the console depends on.

[2017-02-04 10:19] chkal commented on #202
This issue is currently discussed in #201

[2017-02-04 10:33] chkal commented on #185
Actually the current implementation is similar to JUnit's `Parameterized` runner, which I guess behaves the same way as the Togglz runner. So I'm not completely sure if the described behavior is really a bug or expected.

[2017-02-04 15:21] marceloverdijk commented on #202
Duplicate of #201.

[2017-02-04 15:21] #202 closed

[2017-02-23 08:19] #198 closed

[2017-02-23 08:20] chkal commented on #187
Fixed with #191

[2017-02-23 08:20] #187 closed

[2017-02-23 08:21] chkal commented on #185
Closing because no further feedback received.

[2017-02-23 08:21] #185 closed

[2017-02-23 08:29] chkal commented on #179
The problem here is that this would require changes to all the state repositories.

However, I think you can add auditing functionality very easily in your app once with have #178 .

[2017-02-23 08:32] chkal commented on #129
Closing because FeatureState and NamedFeature are Serializable now.

[2017-02-23 08:32] #129 closed

[2017-03-02 12:39] markdav opened #203 "Togglz Console in 2.4 Spring Boot"
Is there an undocumented breaking change between 2.3 and 2.4?  Taking a boot project with <togglz.version>2.3.0.Final</togglz.version>

[code]

application.properties:

[code]
On startup we see:

`2017-03-02 12:36:10.323  INFO 10067 --- [ost-startStop-1] o.s.b.w.servlet.ServletRegistrationBean  : Mapping servlet: 'togglzConsoleServlet' to [/toggles/*]`

And the console works just fine.

However..

[2017-03-02 12:58] marceloverdijk commented on #203
Hi, I think this is because of: https://github.com/togglz/togglz/issues/190
The console is now available on the management port by default.

It can be disabled by setting `togglz.console.use-management-port: false`

[2017-03-05 23:48] markdav commented on #203
Thanks.. that was it alright!

[2017-03-05 23:48] #203 closed

[2017-03-06 07:25] marceloverdijk commented on #203
Thx @markdav for confirming!

[2017-03-06 07:27] pvolkemer opened #204 "<name> Tag in 2.4.0 togglz-console causes validation error in Weblogic 12.2.1"
I tried to include togglz 2.4.0 in a Java EE 7 application running on Weblogic 12.2.1.

Upon deployment an error occurs:

[code]

Going back to version 2.3.0 works since the <name> Tag seems to have been added in version 2.4.0.
Is there anything you can do about this or is this an issue with Oracle?

See also my question on SO: http://stackoverflow.com/questions/42580361/togglz-console-included-in

[2017-03-06 09:33] chkal commented on #204
I just committed a fix for this issue. Any change that you could try the latest snapshots? They should be deployed within the next 30 minutes.

See this page for details: https://www.togglz.org/download.html

[2017-03-06 09:38] pvolkemer commented on #204
Shouldn't be a problem sometime today. I'll let you know the results.

[2017-03-06 09:52] chkal commented on #204
Ok, great! Thanks!

[2017-03-06 11:55] pvolkemer commented on #204
I was just able to confirm that togglz-console 2.5.0-SNAPSHOT deploys on Weblogic 12.2.1 like a charm!
![image](https://cloud.githubusercontent.com/assets/7250873/23608971/209c93e4-026c-11e7-806e-c1233f5aace4.png)

[2017-03-06 12:08] chkal commented on #204
Awesome! Great!

I guess we will push out 2.4.1.Final in the next days to address this and another issue.

Thanks a lot for reporting this.

[2017-03-06 12:08] #204 closed

[2017-03-08 17:53] alecl opened #205 "Securing togglz dashboard and read-only mode?"
I'm looking to secure the dashboard. Was considering putting some Tomcat user auth in front of it but ideally would like to separate who can view values vs change or outright disable change from the interface. Is that something supported in some manner already or would need to be created?

[2017-03-09 06:07] chkal commented on #205
Hey @alecl,

currently it is only possible to either allow or deny access to the Togglz Console via `FeatureUser#isFeatureAdmin()`. I'm not sure if it makes sense to separate this into separate permissions to be honest. But of cause you could use Tomcat user authentication for this.

Christian

[2017-03-10 16:08] alecl commented on #205
Most companies want stricter controls and auditing on who can change a setting vs who can view it so the separate permissions would be welcome.

[2017-03-13 14:03] chkal commented on #205
I agree that more fine grained control would be a good thing. However, in those cases you typically also have many other requirements which cannot be provided by the default console. Therefore implementing a custom web UI for toggling features is a good alternative.

However, PRs for implementing something like this are more than welcome.

[2017-03-14 07:58] dasniko commented on #116
I can do/help on this.
Just had a look into the code and it seems that it's not that much to do.
Any whishes/changes to the UI from your side? Or just updating the Bootstrap version and adjusting the classes?
I'd suggest to replace the icon-images with some kind of icon-font as glyphicons (come with bootstrap, but still separate files to include) or font-awesome.

[2017-03-14 18:32] chkal commented on #116
That would be awesome! I don't think that there are any special additional wishes. It would be great if the UI would be responsive. And I agree that using Glyphicons or FontAwesome would be much better compared to the old images. Thanks a lot!

[2017-03-15 07:49] dasniko opened #208 "SystemProperty parameters are defined as large text"
During working on #116 I detected, that the `SystemProperty` parameters are defined as _large text_ which results in `textarea` elements in the admin console.
Is this really needed to have a _large text_ for `SystemProperty`?
At least the `name` property doesn't need to be _large_, IMHO.
If this is intendet, just close the issue. Otherwise I can send a PR.

[2017-03-15 19:22] chkal commented on #208
Hmmmm. No, I don't see a reason for the textarea either. I'm we should change that. So a PR would be welcome. ;-)

[2017-03-18 09:30] #208 closed

[2017-03-18 09:30] #116 closed

[2017-03-19 07:43] chkal commented on #208
Great! Thanks a lot!

[2017-03-28 08:11] aburmeis opened #210 "FallbackTestFeatureManagerProvider should have lowest priority"
Currently the `FallbackTestFeatureManagerProvider` has a prio of `20` which is more than `10` of `TestFeatureManagerProvider` which is important but less than any other.

Because of this in combination with a poor maven dependency integration IntelliJ always uses the fallback instead of any other when starting an application directly from the IDE (I know the maven integration should also be fixed)

[2017-03-28 08:21] aburmeis commented on #210
Of course I can work around that by implementing my own `FeatureManagerProvider` with a high priority as a copy of an existing one but it would be great to make this work out of the box.

[2017-03-28 09:01] aburmeis commented on #210
But problem will stay the same if I want to test code which uses any production FeatureManagerProvider like this:

[code]

[2017-04-01 08:34] chkal commented on #210
Actually `TestFeatureManagerProvider` must be processed before `FallbackTestFeatureManagerProvider` because it allows to override the fallback behavior. So if `TestFeatureManagerProvider` is initialized, it will win. If not, the fallback will be applied.

But why is `FallbackTestFeatureManagerProvider` on your classpath at runtime? Perhaps you are using `compile` instead of `test` scope for the te

[2017-04-03 14:54] aburmeis commented on #210
Right, the current order of `FeatureManagerProvider` found in core and test is:
* `TestFeatureManagerProvider`
* `FallbackTestFeatureManagerProvider`
* `ThreadLocalFeatureManagerProvider`
* `BeanFinderFeatureManagerProvider`
* `StaticFeatureManagerProvider`
* `ContextClassLoaderFeatureManagerProvider`
* `JNDIFeatureManagerProvider`

So the priority of the `TestFeatureManagerProvider` is completely

[2017-04-04 17:53] bobpaige opened #211 "Tracking Toggle Usage?"
Is there any built-in way to track (and ideally graph/view in the console) how often certain toggles are used?

For example, I can imagine adding a toggle for a new feature and enabling it on Monday. Then throughout the week track how often that codepath is actually hit. If no one is hitting it, we would roll it back.

If there is some other library (or approach) I could use to achieve the same re

[2017-04-04 18:36] neocotic commented on #211
Could you maybe just enable logging for Togglz and grep the logs? Alternatively, simply log a message in your own code and grep your own logs.

[2017-04-04 18:47] hexmind commented on #211
You can use toglz-slack to usage monitoring: real time notifications or history search.
https://github.com/togglz/togglz/blob/master/slack/README.md

[2017-04-04 18:47] bobpaige commented on #211
What about JMX beans, or even just an application-wide counter, that tracks invocations?

The recommended implementation of Togglz is to code your own enum with an "isActive" method. Within that method I could count invocations by name and state (how many times it was true/false). If this is accumulated in JMX, any JMX console could display the results. Alternatively, I could add my own REST endpo

[2017-04-05 20:38] bobpaige commented on #211
My workaround was to create a FeatureToggleActivityMonitor class that is constructed for each Toggle (in the enum). Every call to "isActive" on the enum delegates to this monitor class that accumulates the counters I want.

Bonus that this monitor maintains its own list of all active Toggles so I can return them to our web UI over REST. If Togglz already includes a similar REST endpoint, I'd love

[2017-04-05 20:47] bobpaige opened #212 "Multiple TogglzConfig classes?"
It is possible to have multiple TogglzConfig classes? I'm thinking not since the docs say we need to provide 1 class that implements that interface, and that class returns the StateRepository and the UserProvider.

My need is this: We build an internal framework with other applications built on top of that. I want to have one set of Feature Toggles for the framework code and allow other teams to a

[2017-04-05 21:08] bobpaige commented on #212
Tried it and ran into a couple problems:
1. Feature class must be an enum
I tried making it just a regular class with public static final constants, anticipating that my products could extend this class and use a protected constructor. No dice. Togglz requires it to be an Enum.

2. Multiple TogglzConfig
Next attempt was to create two Feature enums with corresponding TogglzConfig classes. No dice.

[2017-04-06 16:05] chkal commented on #210
Typically most of the "real" `FeatureManagerProvider` implementation won't work in a unit testing environment. Therefore `FallbackTestFeatureManagerProvider` runs before the real providers and after all other unit test related providers.

I'm still not completely sure if I understand your IDE problem completely. You say that in production everything is fine? So deploying your app in your IDE doesn

[2017-04-06 16:08] chkal commented on #211
Thanks for sharing the details about your solution.

I personally don't see much benefit of collecting such metrics to be honest. At least I don't see a use case in my applications for it. But that may be a personal thing.

However, it is great to hear that you were able to integrate such a solution with Togglz

[2017-04-06 16:10] chkal commented on #212
Please have a closer look at the FeatureManager. It provides several SPIs which provide more fine grained configuration of the FeatureManager. Especially have a look at the FeatureManagerBuilder which provides a fluent interface for configuration.

BTW: I'm thinking about deprecating TogglzConfig in one of the next releases. FeatureManagerProvider is much more powerful.

[2017-04-06 16:57] bobpaige commented on #212
But even with the FeatureManager, it appears we are limited to a single Feature class. Am I missing something?

[2017-04-06 18:09] php-coder opened #213 "Consider using WebJars for JS/CSS resources"
Please, consider using WebJars for static assets. The benefits:
1) applications that already use WebJars won't have 2 copies of the same resources
2) it will become possible to use the same version of Bootstrap/jQuery across the entire application
3) you won't have to hold sources of other projects in the Togglz repository

See for details: http://www.webjars.org/documentation

CC @dasniko

[2017-04-07 16:20] chkal commented on #212
Please have a look at the FeatureProvider API. It allows you to provide feature metadata from various sources. And IIRC the enum implementation even supports multiple enums.

[2017-04-07 17:05] chkal commented on #213
Sounds like a good idea. Any other opinions?

[2017-04-07 18:24] anandsunderraman commented on #178
I am looking forward to this. I have `@Cacheable` around a method internally evaluates a feature toggle. My use case for this would be to flush my caches when the feature state changes

[2017-04-08 09:53] chkal commented on #178
@anandsunderraman Please note that even if this API gets implemented at some time, you may not get notified for every feature change. Users can always directly modify the feature state in the repository data store directly (the features.properties file, the database table, or wherever).

In the mean time I recommend to implement a custom state repository which wraps the real state repository you a

[2017-04-08 10:01] dasniko commented on #213
yes, we can give it a try.

[2017-04-25 14:51] sivaprasadreddy opened #214 "How to enable Features based on Cookies or RequestParameters?"
I am looking to implement feature toggles based on some cookie value or request parameters. What would be the extension point to hookup the behaviour?  Is providing a Cookie based StateRepository sufficient?

Any guidance would be helpful. Thanks in advance.

[2017-04-25 15:37] neocotic commented on #214
I imagine that you could create a custom `ActivationStrategy` that used `HttpServletRequestHolder` to get the current request. You'd need to depend on `togglz-servlet` and I believe then you just need to use the `TogglzFilter` or add some sort of filter to ensure that `HttpServletRequestHolder` has the correct request (whether using `HttpServletRequestHolderListener` or not).

[2017-04-26 02:59] sivaprasadreddy commented on #214
I tried to implement custom **ActivationStrategy** implementation. It seems the **DefaultFeatureManager** considers the Strategy only if the feature is enabled.

[code]
But there could be scenarios where the feature is disabled by default but i want to enable it based on cookie value. In this case it doesn't work. May be i need to provide custom implementation of **FeatureManager** too?

[2017-04-26 05:13] chkal commented on #214
It is correct that activation strategies are only considered if the feature is on. So it works like this:

* If the feature is disabled, the feature is off
* If the feature is enabled and has no activation strategy, the feature is on
* If the feature is enabled ans has an activation strategy, the strategy decides about on vs off.

You should be able to implement your use case with this. You just h

[2017-04-27 20:17] amontenegro opened #215 "Activation strategy by IP address is not working"
Hey guys,

There are several things that doesn't work for me:

1) On the admin console, i can't add more than one ip, they are supposed to be separated by comma, however, every time I add more than one, i see this error: "Please enter a valid value for: Client IPs"
2) To get the ip, you get it directly from HttpServletRequest.getRemoteAddr(), however, it could be a good idea if you also check for

[2017-04-28 07:08] chkal commented on #215
Thanks for reporting this. The first issue seems to be a bug introduced by a previous contribution. And the second one a definitely a great idea and we should add support for that.

I currently don't find much time to work on Togglz. But pull requests are welcome.

[2017-05-01 21:38] amontenegro commented on #215
Hey @chkal,

Could you please give me access to push a new branch in your repo? I just did fixed the errors I found, but cant push my changes:

remote: Permission to togglz/togglz.git denied to amontenegro.
fatal: unable to access 'https://github.com/togglz/togglz.git/': The requested URL returned error: 403

Thanks

[2017-05-01 23:22] neocotic commented on #215
@amontenegro, you could always fork this repo and push your branch to your fork. From there you can still open a pull request. That's the standard process.

https://help.github.com/articles/fork-a-repo/

[2017-05-04 04:11] charithdesilva commented on #205
hi @chkal I'm looking to implement this as part of my requirement to have fine grained control. If any of you have done any analysis on this already, that'd be helpful for me to get started. My key requirement is to limit control on togglz based on user's role.

[2017-05-04 04:44] chkal commented on #205
Hey @charithdesilva. Nice to hear that you would like to work on this issue.

The big question is how to tell Togglz that a user has readonly vs read-write permission. Currently there is just `FeatureUser#isFeatureAdmin()`. I've no idea how to implement this in a backward-compatible way without breaking interfaces.

[2017-06-13 14:35] akoval opened #226 "Togglz id endpoint doesn't work with spring-boot 1.5.4"
Using spring-boot starter for togglz (togglz-spring-boot-starter:2.4.1.Final), spring-boot 1.5.4

togglz id endpoint doesn't work

Rollback to boot v1.4.7 solves the problem.

With 1.5.4 spring-boot see warnings:
2017-06-13 14:33:46,404 [main] WARN  o.s.b.c.p.ConfigurationPropertiesBindingPostProcessor - The @ConfigurationProperties bean class org.togglz.spring.boot.autoconfigure.TogglzProperties

[2017-06-15 07:19] chkal commented on #226
Thanks for reporting.

@marceloverdijk Any idea what is causing this?

[2017-06-16 05:31] radut opened #227 "org.togglz.spring.boot.autoconfigure.TogglzProperties does not have @Validated"
Hi,
I am using togglz 2.4.1 and spring boot 1.5.4
and I noticed this warns in console

2017-06-16 08:27:17.395  WARN 54571 --- [main] ingframework.boot.context.properties.ConfigurationPropertiesBindingPostProcessor : The @ConfigurationProperties bean class org.togglz.spring.boot.autoconfigure.TogglzProperties contains validation constraints but had not been annotated with @Validated.
2017-06-16 08

[2017-06-16 07:24] chkal commented on #227
Looks like the same issue as mentioned in #226, correct?

[2017-06-16 07:31] radut commented on #227
My togglz endpoint works, console(ui) ..everything works.
The only thing is that I get these  warnings

[2017-07-06 21:19] flakycov opened #233 "TogglzRuleWithVariations_CalledMultipleTimes_Test.test is flaky"
`TogglzRuleWithVariations_CalledMultipleTimes_Test-test` failed for us on commit `bdb5c22` but did not fail on [the corresponding run on Travis](https://travis-ci.org/togglz/togglz/jobs/227665043).

Our tool confirms this test to be flaky. The stack trace is below. We set up our build environment to be as close as possible to your Travis build environment, using Ubuntu 12.04.5 LTS, Java 1.7.0_76 a

[2017-07-07 09:01] error418 commented on #215
This issue seems to be fixed by #222

[2017-07-07 14:30] chkal commented on #215
Thanks @error418. I agree, both issues should be fixed in the `master` branch. So I'm closing this one. Feel free to reopen if you run into any issues.

[2017-07-07 14:30] #215 closed

[2017-07-07 14:32] chkal commented on #233
Thanks for reporting. I don't have any idea what is causing this. I guess we need to analyze this further.

[2017-07-11 21:22] rohitrj2ee opened #234 "Adding a new Feature"
Is there an easy way to add/maintain new features? I am currently implementing by the file based approach. Let's say i have to add a new feature. Can i add a new feature through the console without updating the features enum file and the properties file?

[2017-07-13 05:45] chkal commented on #234
No, the console doesn't support adding new feature at runtime. Especially using the Java enum based approach will of course not work if you want to add features at runtime. You could however implement a custom `FeatureProvider` to achieve something like that.

However, in my opinion adding features at runtime typically doesn't make much sense because your code has to know about and actively check

[2017-07-13 06:21] amit-lasry commented on #234
Pardon for jumping into this discussion, but I wanted to share that we're facing the same dilemma.

Ideally it would be awesome to have a single feature-control system across our eco-system (web,mobile,backend...).
Following what @rohitrj2ee wrote, it only makes sense to add a feature in runtime if it's a **client** (mobile/web) feature and the backend is simply channelling the feature state to th

[2017-07-15 17:16] chkal commented on #234
Hey @amit-lasry,

thanks for sharing your thoughts on this. Back then, the idea of Togglz was to create a feature toggle solution for single applications. Therefore, the enum approach totally made sense. But I agree that if you want to distribute feature flags across your infrastructure, the enum approach doesn't work very well. Although I'm not 100% convinced if it is a good idea to distribute su

[2017-07-18 17:09] taasjord opened #235 "Not possible to configure togglz with yaml file"
The /spring-boot-starter documentation, both under Auto configuration and Application Properties, says to use the following to enable feature:
[code]
Seems this is incorrect, because it does not work. Instead, as documentation for State Repositories says, the following does work (without 'enabled'):

[code]
Now I'm not sure if it is the documentation that is wrong or if it was actually supposed to

[2017-07-18 17:23] taasjord commented on #235
Also spring-boot-starter documentation also states that is possible to use properties to _create_ features (without enums as I read it). I don't understand how that could be possible since FeatureManager.isActive only takes a Feature enum and not any string.

[2017-07-19 07:46] eforte opened #236 "New feature state cannot be written to file"
Please advice how can I save the new feature state from the console.

I'm running Tooglz (2.4.1.Final)  in a Spring Boot application. When I try to save the new state of the feature I get this **error in the browser:**

Whitelabel Error Page

This application has no explicit mapping for /error, so you are seeing this as a fallback.

Wed Jul 19 02:43:40 CDT 2017
There was an unexpected error (type=

[2017-07-19 09:35] taasjord commented on #235
Just figured out that the current documentation is for a version that is not released yet, which changes this.

[2017-07-19 13:46] taasjord commented on #235
Tried a lot back and forth, and it seems not possible to configure togglz with anything else than just enabled with one yaml file.

This (as documented on togglz.org) does NOT work, enabled is ignored:
[code]

This works (without strategy):
[code]

This does NOT work, invalid yaml:
[code]

This does NOT work, invalid yaml:
[code]

A workaround that looks like it is working now is to split across t

[2017-07-19 13:49] taasjord commented on #235
2.4.1.Final, the latest announced on web site.

[2017-07-19 14:24] taasjord commented on #235
I coincidentally found this now when browsing through the source: #232, looks like proper support is coming in the next release. But I'm still unsure whether/how yaml is supposed to behave in 2.4.1, since that documentation is maybe overwritten by docs for upcoming 2.5.0.

[2017-07-19 14:38] marceloverdijk commented on #235
Yes because of that upcoming change and the docs already pushed we caused some confusion. Sorry for that.

Can you please try this:

[code]

I think what should work with `2.4.1`.

[2017-07-19 15:13] taasjord commented on #235
Ah, yes the "hybrid" version works. I should've thought of that.

[2017-07-20 08:06] #235 closed

[2017-07-20 17:43] chkal commented on #235
I agree that it is quite confusing that the documentation already describes the changed behavior, which isn't released yet.

I'll try to find some time in the next week to do the next release. So stay tuned.

[2017-07-20 17:47] chkal commented on #236
How did you configure the state repository? Not sure how the Spring Boot starter configures the repository by default, but it may be a readonly version if you don't configure something else.

[2017-07-20 18:18] marceloverdijk commented on #236
@eforte Can you share your Togglz application properties and custom Togglz beans (if any).

[2017-07-20 22:54] eforte commented on #236
@chkal and @marceloverdijk after reading your replies I added this line to my application.yml:
`features-file: my_feature-state-file`

I can flip features on/off without a problem now.

Thanks for your help guys!

[2017-07-20 22:54] #236 closed

[2017-07-24 18:13] flakycov commented on #233
@chkal Thanks for your response!

Is there some logging/debugging info that you think could help with debugging?

[2017-07-25 05:40] chkal commented on #233
I guess we need to have a closer look at the test itself. Maybe we need to adjust the assertion to give us more information about the failure.

[2017-07-26 13:57] taasjord opened #237 "Spring Boot integration to auto-configure filter to populate HttpServletRequestHolder"
I am using the Togglz spring-boot-starter and added a custom strategy to check HTTP header parameter for activation (didn't immediately find one out-of-the-box) . But I noticed that HttpServletRequestHolder does not contain any request object, so I rolled my own filter to populate it. But shouldn't auto-configuration do this by default, in either a filter or interceptor, like the vanilla TogglzFil

[2017-07-26 17:10] chkal commented on #237
Hey @marceloverdijk, could you share your thoughts on this?

[2017-07-28 12:02] tillmannheigel commented on #226
+1

[2017-07-29 16:41] chkal commented on #226
This may be related to #227.

Any help with getting this one fixed is highly appreciated as I'm not so familiar with Spring Boot. So every pull request is welcome!

[2017-07-29 22:08] marceloverdijk commented on #227
The warning is related to the  @ConfigurationProperties validation changes in Spring Boot 1.5, see https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-1.5-Release-Notes#upgrading-from-spring-boot-14
We should fix this, but as the migration notes mention currently only a warning is logged so it should not break anything.

[2017-07-29 22:11] marceloverdijk commented on #226
I would be interested if this only fails in 1.5.4 or already started failing in 1.5.0.

[2017-08-02 10:36] error418 opened #238 "Console: Inputs need to get sanitized"
Togglz console inputs do not get sanitized. This makes the console vulnerable to XSS attacks.

By injecting a script into a `Username Activation Stategy` (or a similar free-text strategy), a Stored XSS attack can be performed. Malicious JavaScript could be run for every user logging in to the Togglz Console.

## Reproducing Steps
In this example a Stored XSS attack is performed.

### Input
![grafi

[2017-08-02 13:00] flakycov commented on #233
Hi,
We found the cause for flakiness; while `getVariants` uses a LinkedHashSet to preserve the order of feature sets, `deepCopy` copies the set to a Hashset which doesn't preserve the order.  The fix is in the `deepCopy` method of `junit/src/main/java/org/togglz/junit/vary/VariationSetBuilder.java` - patch `copy = new Hashset...` to `copy = new LinkedHashSet...`

Let us know if you want us to open

[2017-08-02 18:41] tzoght opened #239 "Would be nice if we can have a StateRepository implementation that works with Spring Cloud Config"
I was hoping to find an implementation of StateRepository that uses Spring Cloud Config as a source, but I could not find one. Maybe it exists, and I am not searching in the right place.

I am open to developing one and contributing it to your project, if none exists

[2017-08-04 18:40] flakycov opened #240 "ZookeeperStateRepositoryTest::testZkNodeChangesUpdateFeatureState is flaky"
`ZookeeperStateRepositoryTest::testZkNodeChangesUpdateFeatureState` fails for us on commit f033687e:

[code]

We discovered this test to be flaky while using [DeFlaker](http://www.deflaker.org/).  Increasing the `Thread.sleep()` time in the test from 25 to about 200 reduces the rate of flakiness.

[2017-08-04 20:11] trueblue2704 opened #241 "While using CachingStateRepository have something notify when there is an update to a Feature"
This is the use case: If the database the features are stored in goes down and the values can't be read functionality that may not have needed the database but checks these feature values fail because we can't get the value from the database. Not setting a timeout in this case works, but only if there is one server that reads these features from the table (since it would have the values in its cac

[2017-08-05 06:33] chkal commented on #233
Thank you very much for your help with this. I just committed a fix. Looking forward to see more green builds now. ;-)

[2017-08-05 06:33] #233 closed

[2017-08-05 06:34] chkal commented on #238
Thanks a lot for reporting this. This should definitely be fixed. I'll try to find some time to do so this weekend.

[2017-08-05 06:37] chkal commented on #239
I don't think there is such a repository. Any contribution is welcome! :-)

[2017-08-05 06:39] chkal commented on #240
Thanks a lot for pointing this out. I increased the sleep duration to 500ms which should reduce it even more. Perhaps that's acceptable for now. Thank you very much.

[2017-08-05 06:39] #240 closed

[2017-08-05 07:43] chkal commented on #241
I don't think that setting `ttl` to a large value or `0` is a good idea in this scenario. If you have many servers that read the feature state from a database, you MUST use a small `ttl` value so that the servers get updates fast enough.

If you want to support scenarios where the underlying data source may not be available, you could try to add a custom state repository between the `CachingStateR

[2017-08-05 09:52] chkal commented on #238
I just pushed a fix for this. Strategy parameter values are now escaped correctly for rendering.

[2017-08-05 09:52] #238 closed

[2017-08-06 20:09] trueblue2704 commented on #241
Yeah I agree that makes more sense. Do you think you're going to implement something like that soon?

[2017-08-08 11:15] chkal commented on #241
I don't think so. But PRs are welcome.

[2017-08-08 11:15] #241 closed

[2017-08-08 19:54] anandsunderraman commented on #178
@chkal thanks for the input, sorry for the late response

[2017-08-09 20:18] emahaletmc commented on #205
Hey @chkal, Kudos to you for coming up with Togglz!

I was trying to look at a possibility of incorporating this into my application. One of my concern is giving access to anyone to come and edit the feature toggle which got me thinking.
I was thinking of adding something like "isReadOnly" which would be defaulted to false to ensure backward compatibility and can be controlled with FeatureUser#isR

[2017-08-13 09:23] chkal commented on #205
Hey @emahaletmc. Thanks for sharing you thoughts. I'm not sure if something like 'isReadOnly()` would be flexible enough. Also adding a new method to the interface will definitely break implementations, which is a huge problem. I think for Togglz 3 we need something even more powerful. Something like `public AccessLevel getPermission(Feature feature)`.

[2017-08-14 14:48] emahaletmc commented on #205
@chkal, Do you have something in mind for Togglz 3? It'd be really great to have this be a part of it.

If so, when would Togglz 3 be targetted for?

Eshan

[2017-08-16 15:06] chkal commented on #205
Hey @emahaletmc ,

to be honest, there is no clear vision or a target for Togglz 3 at the moment. I don't find much time anymore to work on Togglz. It has always been a spare time project. And being a father of two there is not much spare time anymore. I already thought about stepping back as a project lead, but I fear that the project will die in this case.

Therefore, I started a [OpenCollective

[2017-08-27 16:32] chkal commented on #227
Could anyone give the latest snapshots a try? I think #242 should fix this.

[2017-08-27 16:33] chkal commented on #226
Could anyone give the latest snapshots a try? I think #242 should fix this.

[2017-08-30 17:44] laurentperez opened #243 "TogglzFilter.java : ability to disable bootstrapping at all ?"
Hi

I have a jar with an implementation of TogglzConfig, under webapp1. Thru transitive maven dependency resolution, this jar ends up under webapp2, webapp2 does not need togglz. I do not use EARs, just plain wars.

My problem : webapp2 fails to deploy, throwing the "or register the implementation in your web.xml as described in the 'Configuration' chapter of the documentation" IllegalStateExcepti

[2017-08-31 08:11] chkal commented on #243
Well, if togglz-servlet is on your classpath, the TogglzFilter will be automatically registered and will also try to bootstrap itself (if not disabled via FEATURE_MANAGER_PROVIDED).

What I don't understand is why togglz ends up in your application classpath although you say that the app doesn't need it.

[2017-08-31 18:15] error418 commented on #243
I would also suggest to overthink your dependency management. Unused dependencies should not be delivered with your application (also, a dependency to an other webapp sounds kind of weird). You could use [Dependency Exclusions](https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html) to work around this issue, but this would not be a clean solution in m

[2017-08-31 20:27] laurentperez commented on #243
@error418 agreed, I want to avoid exclusions in the pom.xml. webapps don't depend on each other per se, see below v

@chkal webapp1 has a dependency on jar1, jar1 has classes, and is using togglz, implementation of TogglzConfig is defined in webapp1 web.xml. jar1 has its own lifecycle, it's a component shared along webapps.
then, webapp2 has a dependency on jar1 too, it requires several jar1 class

[2017-09-01 13:46] chkal commented on #243
Wouldn't it make sense to declare Togglz as an "optional" dependency in jar1 in this case? In this scenario webapp1 would have to add Togglz to the dependencies and configure it accordingly. And as Togglz is an optional dependency, other webapps wouldn't have to do anything and Togglz won't end up on their classpath.

[2017-09-04 12:30] error418 commented on #60
Whoops - it seems I forgot to close this issue with my commit message 🙈

[2017-09-08 08:38] dkoding opened #244 "Feature configuration with .yml file yields too many features"
The following .yml property file...

[code]

...creates 3 NamedFeatures in the FeatureManager:

  MY_FEATURE.enabled
  MY_FEATURE.strategy
  MY_FEATURE.param

This is not as expected. I would expect 1 feature in this case.

How to reproduce:

Add the property shown above.
Create a Spring Boot @Config file

    @Bean
    FeatureProvider featureProvider(TogglzProperties properties) {
        Propert

[2017-09-08 15:19] chkal commented on #244
Thanks for reporting. Could you tell us which version of Togglz you are using?

[2017-09-08 15:24] chkal commented on #244
Oh, just saw that you source code looks weird. I don't think you are using the API correctly.

`PropertyFeatureProvider` is used to provide feature metadata to Togglz. But you will only need this is you don't want to use enum based features. If you are using enums, you should use `EnumBasedFeatureProvider`.

I guess you are mixing this up with the `StateRepository` concept, which is used to manage

[2017-09-14 05:01] ikettu opened #245 "JUnit 5 support"
New way to set featuretoggles during testing is needed since JUnit 5 does not support Rules anymore,
http://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4

[2017-09-18 08:48] laurentperez commented on #243
@chkal optional is what I was looking for, indeed. ty.

[2017-09-18 08:48] #243 closed

[2017-09-18 11:54] atlanteh opened #246 "When will 2.5.0 be released?"
Hi, we want to use togglz with Spring Boot application.yml configuration, but it seems to only work in 2.5.0-SNAPSHOT.
What is the planned release date for 2.5.0?

[2017-09-20 04:23] chkal commented on #246
There is no concrete release date yet. I'm still waiting for some confirmations that bugs fixed in the latest snapshots don't occur any more.

However, I think `application.yml` configuration should also work fine with 2.4.x. There have been some changes between 2.4 and 2.5. See the [Updating Notes](https://www.togglz.org/updating-notes.html) for details.

[2017-09-20 04:48] akoval commented on #226
@chkal tested today with spring-boot 1.5.7 and togglz 2.5.0-SNAPSHOT. It works as expected

[2017-09-20 05:47] atlanteh commented on #246
I see.
Strategy configuration is not supported in 2.4.1. Only enabling and disabling of feature is supported and we must have also strategies.
Currently what we had to do is duplicate the TogglzProperties class to our code and implement a new StateRepository that reads the state from the TogglzProperties.
This kinda sucks but we had no other choice until 2.5.0 gets released.

[2017-09-20 06:16] chkal commented on #226
Awesome. Thanks for testing!

[2017-09-20 06:16] #226 closed

[2017-09-20 06:17] chkal commented on #244
Any news on this one? Did you fix your issue?

[2017-09-20 06:18] chkal commented on #227
#226 is resolved which is a similar or same issue. So closing this one now. Feel free to open if this issue is still occurring.

[2017-09-20 06:18] #227 closed

[2017-09-20 06:21] chkal commented on #246
I just checked a few of the pending issues and it looks like we are basically ready for the 2.5.0 release. I'll try to find some time in the next days to do the release. But I don't think this will happen before early next week.

[2017-09-20 06:21] #246 closed

[2017-09-20 07:23] dkoding commented on #244
It seems that the reason for this problem was that I mixed in my own Spring configuration file where I replaced some of the standard components like the manager. When I removed all Spring configuration it worked as expected. So probably a non-issue.

[2017-09-20 08:16] chkal commented on #244
Thanks for the update... So I'll close this for now...

[2017-09-20 08:16] #244 closed

[2017-09-21 22:42] php-coder opened #248 "Don't use style attribute in web console to fix errors from"
I'm trying to integrate Content Security Policy (see https://content-security-policy.com) into my project and I found that browser complains about using `style` attributes in Togglz web console:

- `display: none;` (Bootstrap provide CSS class for that: https://stackoverflow.com/questions/18568736/how-to-hide-element-using-twitter-bootstrap-3-and-show-it-using-jquery)
- `width: 100%; text-align: c

[2017-09-23 10:00] chkal commented on #248
I'm not very familiar with Content Security Policy, but why are inline styles forbidden?

[2017-09-23 10:25] php-coder commented on #248
It is forbidden to reduce a possibility of injecting something malicious into it (similar to XSS attacks), like here: https://html5sec.org/#css This is from security perspective.

There are also others reasons to not use it: https://stackoverflow.com/questions/2612483/whats-so-bad-about-in-line-css

[2017-09-23 14:32] chkal commented on #248
To be honest, I don't agree with these arguments. The console contains static inline styles, so there is no danger of XSS and also using inline styles is IMO fine if you specify some style attributes for a single component and don't plan to reuse them.

However, pull requests for fixing these issues are highly welcome. So if anyone wants to contribute some code, this is a perfect opportunity. :smi

[2017-09-24 06:59] atlanteh commented on #121
Shouldn't this one be closed? I see a commit that fixes this issue.

[2017-09-24 20:25] chkal commented on #121
Yes, I think this one is fixed already! Thanks!

[2017-09-24 20:25] #121 closed

[2017-09-26 10:46] johnament opened #250 "Support for MicroProfile Config"
Togglz already has support for other property based invocations.  I'd like to propose introducing a MicroProfile Config module.  I'd be happy to even provide the PR, but one question.

MP requires Java 8.  I see that Togglz builds with OpenJDK 7 and Oracle JDK 8.  Is it possible to skip a module if Java version < 8 presently?

[2017-09-27 06:56] atlanteh commented on #246
Any ETA on this?

[2017-09-27 19:07] chkal commented on #250
I like the idea. And a PR would be highly welcome.

However, the JDK version will be an issue. You could set a different target version of the new module, but Travis will still try to build the whole project with JDK7. Not sure how we can solve this.

[2017-10-02 10:25] jkubrynski opened #251 "FeatureManager not found with hierahical contexts"
With Togglz 2.4.1 and Spring Boot 1.5 sometimes there was an exception "Could not find the FeatureManager.". I realized it's happening because Togglz listens to the `ContextRefreshedEvent`. If you set `management.port` to the different one than `server.port`, Spring creates separate context just for management. If this context is refreshed after the application context it's overriding the binding.

[2017-10-03 07:04] #251 closed

[2017-10-03 07:04] chkal commented on #251
Thanks a lot for the analysis. I totally agree that Togglz should also consider parent contexts. Thanks for providing the pull request! :beers:

[2017-10-08 16:51] johnament commented on #250
I believe we have can profiles activated based on java version.  I'll make sure I test that out before raising a PR.  You already have a build against Java 8 so it shouldn't cause many problems.

[2017-10-09 17:05] chkal commented on #250
Hey @johnament. I think using a Maven property for the target JDK version and overwriting it in the new module should work fine. However, I agree that we will have to exclude this module if the build runs with JDK7.

To be honest, now as JDK9 has been released, I'm thinking about simply disabling the JDK7 build on Travis. In this  case using the property for the target JDK should be enough. Howeve

[2017-10-12 13:29] johnament opened #254 "Align SystemPropertyActivationStrategy with AbstractPropertyDrivenActivationStrategy"
Togglz had a pre-existing `SystemPropertyActivationStrategy` which handled reading system properties.  A new base class `AbstractPropertyDrivenActivationStrategy` was added for property based toggles, however this class wasn't changed in the System Property one.

There's two key differences (one positive on each side):

- `SystemPropertyActivationStrategy` allows you to define the value to compare

[2017-10-13 04:37] chkal commented on #254
Yeah, I absolutely agree. This totally makes sense. We should do this!

[2017-10-28 06:49] #254 closed

[2017-10-28 06:49] chkal commented on #250
Yeah, I think we can close this now!

[2017-10-28 06:49] #250 closed

[2017-10-29 14:14] chkal commented on #246
I release 2.5.0.Final today. It is already available on Maven Central.

[2017-10-30 11:14] johnament commented on #254
@chkal psst, this is missing the 2.5.0 milestone.

[2017-10-30 11:23] chkal commented on #254
Ups. Fixed. ;-)

[2017-10-30 12:09] Pryanic opened #256 "Togglez work with https"
Hi all.
I am a new user of togglz. I implemented togglz in my project.
All my servers use https.  And when I change samthing in togglz I got a redirect to http:my.app://togglz-console/index. But my nginx config redirect this request to https:my.app.
How I can make redirect from togglz edit to togglz-console/index by https?
Let me know if you have any questions

[2017-10-30 13:15] chkal commented on #256
This is the code which sends the redirect:

https://github.com/togglz/togglz/blob/db8c4c036acf948f0f0a5fc9eabe9e1d4e639031/console/src/main/java/org/togglz/console/handlers/InitialRedirectHandler.java#L23-L29

The code uses `getRequestURI()` which should return something like `/myapp/togglz` in your case. Therefore the redirect is triggered like this:

    response.sendRedirect("/myapp/togglz/inde

[2017-11-04 19:42] Pryanic commented on #256
I set a break poit I saw that togglz changed protoc. Togglz always use http it' s a huge problem. Can we add possibility to use always https for togglz?

[2017-11-05 07:53] chkal commented on #256
Could you share more details? What does `url` look like? What does `event.getRequest().getRequestURI()` return?

[2017-11-05 10:07] error418 commented on #256
This would break other projects running on http only. Using relative redirects (as togglz does) is the way to go.

As chkal suggested, more information (also about your application/nginx configuration) would be nice.

[2017-11-05 11:22] chkal commented on #256
@Pryanic
I just did some further research on this problem. And I think I finally know what is going on:

Togglz sends the redirect like this:

    response.sendRedirect("<contextPath>/togglz/index");

At first this looks fine. But then I found the following statements in the docs of `HttpServletResponse.sendRedirect()`:

So basically your Servlet container is creating the incorrect absolute URL. I

[2017-11-05 18:36] Pryanic commented on #256
First of all I propuse add possibility, additional options for togglz that enable or disable always use https for togglz. It's doesn't affect all curent users and help to resolve my problem.
I can't share nginx config because NDA, but be shore  I use the default and simple features of nginx.
The togglz config looks like default togglz config:
togglz.console.enabled=true
togglz.console.path=/togglz

[2017-11-05 19:12] Pryanic commented on #256
@chkal
Thank you for you help. I make small help for you. Please merge it if you want https://github.com/togglz/togglz/pull/257 . Add if have intresting idea and you need help let me know.

[2017-11-06 13:24] chkal commented on #256
@Pryanic
You should really double check your reverse proxy and container setup. As I explained in my previous post, Togglz calls `sendRedirect()` with an relative URL, which does nicht change the protocol. Then your container translates this into an absolute URL using the wrong protocol. So you should either configure your container correctly OR use `proxy_redirect` in your nginx config.

[2017-11-06 15:27] Pryanic commented on #256
@chkal  Thank you help me a lot.  Do you merge my pull request?

[2017-11-06 16:21] chkal commented on #256
I hope you'll be able to fix your issue. Feel free to post on the issue if you have any more problems.

I'll review the PR later...

[2017-11-06 16:21] #256 closed

[2017-11-15 15:08] resah commented on #237
Hi,
I have the same problem: I wanted to create a Cookie-based AuthenticationStrategy, but I can't retrieve the HttpServletRequest/HttpServletRequestHolder.

@taasjord Could you help me out with an example implementation of your filter/interceptor until this problem is fixed?

Thanks

[2017-11-16 10:26] CuervoSodieh opened #260 "Npe in QueryParameterActivationStrategy"
I am using version 2.5.0.Final of togglz

I am not sure how to reproduce it, but in some cases I get

[code]

[2017-11-16 16:47] chkal commented on #260
Thank for reporting. I just pushed a fix for this issue. Could you give the latest snapshots a try? Have a look at [this page](https://www.togglz.org/download.html) for details.

[2017-11-20 15:05] CuervoSodieh commented on #260
@chkal with the last snapshot it works, thanks for the fast help

[2017-11-20 15:23] chkal commented on #260
Great! Thanks for testing!

[2017-11-20 15:24] #260 closed

[2017-11-21 14:55] taasjord commented on #237
Hi @resah.

Here is my servlet filter to populate the HttpServletRequestHolder:
[code]

[2017-11-22 16:02] chkal commented on #237
So, what's the official way to automatically configure filters in a Spring Boot app? Togglz uses a `web-fragment.xml` file for Servlet containers. I'm surprised that this doesn't work on Spring Boot.

[2017-11-22 20:09] marceloverdijk commented on #237
In Boot I would normally use a `FilterRegistrationBean` (see also https://stackoverflow.com/questions/19825946/how-to-add-a-filter-class-in-spring-boot).

Just like we use a `ServletRegistrationBean` in https://github.com/togglz/togglz/blob/master/spring-boot-starter/src/main/java/org/togglz/spring/boot/autoconfigure/TogglzAutoConfiguration.java.

[2017-11-23 08:55] taasjord commented on #237
Alternatively, the bind/release could be implemented as a `HandlerInterceptor`.

[2017-11-25 07:09] chkal commented on #237
After reading the SO post, I think that `FilterRegistrationBean` looks like the way to go. It would be awesome if anyone could create a PR for that.

[2017-11-28 11:22] resah commented on #237
Thx @taasjord .

I wanted to let you know, that this doesn't seemed to be an issue anymore. My Theory why:

I created an ActivationStrategy, which check for a specific cookie. The FeatureToggle itself was used in a ConstraintValidator and the Constraint was used as a method annotation in a REST controller.
This didn't work at all: I could not retrieve the original request and therefore not check t

[2017-12-01 16:46] DoctorHowser opened #261 "Spring-Boot-Starter 2.5.0 and junit"
Hey Folks,

TL:DR Anyone have a guide or reference for dealing with a FeatureManager thats @Autowired for running junit tests?

We have a standard spring-boot-starter use of Togglz, where we autowire the FeatureManager and use it where we need.

  @Autowired
    private FeatureManager manager

This works fine. Where I cant seem to find any docs is the usage in setting up unit tests (junit). Before

[2017-12-02 13:56] dasniko commented on #261
This is not a Togglz related thing, but generally a wrong usage of field injection. Field injection is deprecated and evil!

Use constructor injection instead, an testing will get a lot easier.
You then can, for example, mock your `FeatureManager` with Mockito and define the behaviour of this mock for your tests. Then instantiating your class, just put the mock in the constructor call - and you're

[2017-12-04 14:33] DoctorHowser commented on #261
I get that, but also the guide for togglz spring boot specifically has you @Autowired the manager.
https://www.togglz.org/documentation/spring-boot-starter.html

I kinda think the Togglz docs for spring boot should then have some sort of guide for testing with the @Autowired annotation as dictated, or the testing section should make note of integrating with spring boot?

If @dasniko's suggestion i

[2017-12-04 15:00] dasniko commented on #261
@chkal WDYT?
I could update the Spring Boot docs, regarding _not_ to use `@Autowired`.

The Testing docs are not touched/modified since 5 yrs, says commit history.
Do you plan anything to update this anyway? Or should we include some Spring Testing support in there?

If so, I'd recommend to create two separate issues. One for updating the Spring Boot docs, another for Testing.

[2017-12-04 16:08] dasniko commented on #213
Just stumbled over this again...
I just had two thoughts on it, and wondering, if it's really a good fit:
* `togglz-console` ist just a JAR file, so, no `webjars` libs would be packed with it. When using it, users must include `webjars` deps themselves, might lead to errors/problems. No out-of-the-box usage would work
* Paths to `webjars` resources would include the version number, e.g. `webjars/b

[2017-12-04 16:19] php-coder commented on #213
@dasniko Thanks! They're really good points and a food for thoughts.

The first point could be solved by having 2 jars -- one, like we have now, and another `togglz-console-nodeps` that requires user to include some deps on his own).

The second one is more complicated, but looks like https://github.com/webjars/webjars-locator-core could help with it.

[2017-12-04 16:30] dasniko commented on #213
@php-coder thanks for pointing me to the `webjars-locator-core`, didn't know this.
I will have a look into it and do some tests. Not yet convinced, especially with having two jars. But, let's see.
Hopefully it won't take another 7 months again ;)

[2017-12-04 16:32] php-coder commented on #213
@dasniko Thanks!

If I have to choose between waiting another 7 months and having this feature not implemented, I'd definitely pick the first :)

[2017-12-05 06:35] dasniko commented on #175
Are there any steps to reproduce?
Just entered a few non-ASCII characters as username and it worked fine.

[2017-12-05 06:55] dasniko commented on #248
In current version (2.5), I only can find `style="display: none;`.
The `width` and `text-align` seem to be gone with some refactoring.
Can you confirm this, @php-coder ?

[2017-12-05 07:01] error418 commented on #175
I also tried to reproduce this issue some time ago with no luck.

Maybe of would be a good idea to use GitHub issue templates to remind the reporter to supply such information on issue creation

[2017-12-05 11:23] php-coder commented on #248
@dasniko I can't confirm because I'm still on the old version. I'll try to update to a new version on the weekend and let you know.

[2017-12-05 13:09] dasniko commented on #248
I think, there was only one occurence of `width` and `text-align` and I eliminated it with this commit: https://github.com/togglz/togglz/commit/4fdc7438756f471b468d0241efbb19f5065ed3a2#diff-2a76b205759147bee0654ac1560639e4L26

So, this should be fine as I removed also the `display` occurence with the linked PR.
If there are no objections, I'll merge this soon.

[2017-12-05 17:40] chkal commented on #248
Thanks a lot! #248 looks good and should fix this problem.

[2017-12-06 06:00] chkal commented on #175
Yeah, I agree that we may have to improve the issue template. But this bug was brought up on the mailing list and therefore I don't have more information.

But if we cannot reproduce this issue, let's just close it. If it is really a bug, someone will open a new issue at some point.

[2017-12-06 06:00] #175 closed

[2017-12-06 06:33] #248 closed

[2017-12-06 07:53] chkal commented on #213
Hey guys. Thanks a lot for continuing the discussion about this. I just posted a few comments on #262.

I know that 7 months are quite some time. But as you may have noticed I don't find much time to work actively on Togglz any more. Therefore any help like such pull requests is highly welcome!

[2017-12-06 08:08] chkal commented on #261
Hey all. Sorry for the delayed response.

First let me describe why `@Autowired` doesn't work very well in your case. Basically the Togglz testing support is based on the idea of providing a `FeatureProvider` that returns a dummy `FeatureManager` which can be configured with `TogglzRule`. However, `FeatureProvider` is only used to lookup the `FeatureManager` if you use `FeatureContext.getFeatureMa

[2017-12-06 16:11] chkal commented on #213
Hey all. Unfortunately we had to drop #262 as it was causing some issues. See the comments on #262 for details.

IMHO there are quite some issues with introducing webjars:

* If we use webjars we would basically remove Servlet 2.5 support. Although there are ways to work around this, I'm not sure if it is worth the effort.
* We loose control over the exact version of our CSS/JS dependencies. Peopl

[2017-12-06 16:11] #213 closed

[2017-12-06 16:17] chkal commented on #237
Maybe this is just an issue of filter ordering? If the Togglz filter runs AFTER the corresponding Spring code, you would run into such issues.

[2017-12-15 08:24] eancuta opened #264 "[Bug] Togglz Console: Toggling feature in custom feature group redirects to "All Features""
## Expected Behavior
Toggling a feature in the console/admin UI should keep you in your selected group.

## Current Behavior
Toggling a feature in a feature group will disable/enable the feature, then auto-select the all features group in the console.

## Possible Solution
Remove the auto-selection

## Context
I am new to Togglz and coding. I am currently adding many toggles to an existing project

[2017-12-15 08:27] eancuta opened #265 "[Bug] Togglz Console: Toggling a feature with "Users By Name" Strategy removes the list of users"
## Expected Behavior
Toggling a feature in the console/admin UI with the "Users By Name" strategy should keep the list of users.

## Current Behavior
Toggling a feature in the console/admin UI with the "Users By Name" strategy removes the list of users.

## Possible Solution
Possibly need to ensure you do not clear the strategy. It might be that the disable should be a hard disable, and any enabli

[2017-12-15 13:43] darnoldt commented on #185
I came across the very same problem. I think the reason for this misbehaviour is, that the `VariationRunner` does not override the method `protected Statement classBlock(RunNotifier notifier)`
from the base class as does the `BlockJUnit4ClassRunnerWithParameters`.

[2017-12-15 16:19] php-coder commented on #60
@chkal Could you close this issue?

[2017-12-15 16:30] php-coder commented on #238
This is a security issue and I'm surprised that it isn't mentioned in the "what's new" doc.

[2017-12-15 17:51] php-coder commented on #248
@dasniko I tested it and can confirm that there is only one left in 2.5 version.

[2017-12-15 20:41] dasniko commented on #248
thanks

[2017-12-29 20:59] chkal commented on #264
I agree that the current behavior isn't very user-friendly. I was thinking about implementing the console from the scratch with React at some point. In this case I will definitely build it in a way that preserves the current state of the toggle list page.

[2017-12-29 21:01] chkal commented on #265
The problem is that most `StateRepository` implementations will (AFAIK) only persist the strategy if the feature is enabled. Therefore, I don't see an easy way to fix this.

[2017-12-29 21:01] chkal commented on #60
Sure! Forgot about this one. Sorry. Thanks @php-coder.

[2017-12-29 21:01] #60 closed

[2017-12-29 21:05] chkal commented on #238
I started to simply link to the list of fixed GitHub issues in the What's new section of the site. The corresponding issue list should include this ticket. Although it may be true that it deserves some special accentuation.

[2018-01-10 16:54] DoctorHowser commented on #261
Thanks @dasniko , @chkal !

[2018-01-10 16:54] #261 closed

[2018-01-16 21:36] kyleboon opened #267 "Can't get Enumeration based Features to work in spring boot app"
In a spring boot app, if I want to pull the feature flag states from the application.yml file, I have to use a `NamedFeature` instead of using an Enumeration of features.

[2018-01-16 23:40] kyleboon commented on #267
Nevermind, when I used a new project it worked so it must be how I was integrating into our existing spring boot app. I'll reopen if I find a specific issue.

[2018-01-16 23:40] #267 closed

[2018-02-05 16:19] taasjord commented on #237
I think the TogglzFilter is not loaded when using togglz-spring-boot-starter.

[2018-02-10 08:55] chkal commented on #237
It would be great if anyone familiar with Spring Boot could provide a pull request for that. After reading the issue comments again, it looks like a `FilterRegistrationBean` is the way to go.

[2018-02-11 10:18] chkal commented on #185
I just had another look at this issue. I think I finally fixed the bug that caused `@BeforeClass` and `@AfterClass` to be invoked twice. See 76227b471023cbb417ac4fcf0fadca2fbbe03bfe for details. It would be great if anyone could confirm the fix.

[2018-02-11 12:06] chkal commented on #185
I just discovered that there were some issues with the automatic snapshot deployment. But that's fixed now. So the latest version of `2.6.0-SNAPSHOT` will contain the fix. See [this page](https://www.togglz.org/download.html) for details about how to test the snapshots.

[2018-02-12 15:07] taasjord commented on #237
Adding a `FilterRegistrationBean` is easy. But after reading the source code of TogglzFilter and TogglzAutoConfiguration for spring-boot, I think it is more a question what should go into that filter and how it should be done.

As I understand it, TogglzFilter does multiple things:
* Configures from the servlet context.
* Bootstraps a `FeatureManager`
* Notifies `FeatureManagerListener`s (start/st

[2018-02-12 17:34] chkal commented on #237
Thanks a lot for posting these details. You are absolutely correct. `TogglzFilter` currently does a lot of things. Actually too many things. :laughing:

The most important thing to understand is that you can choose between two ways of dealing with the creation of the `FeatureManager`.

  1. Let Togglz automatically create the FeatureManager from the filter and handle its lifecycle. Back in 1.x day

[2018-02-16 13:38] taasjord commented on #237
Thank you for the explanation. I briefly tried to register the TogglzFilter and at least it starts without errors, but only when setting the servlet context parameter as you mentioned  (or else it will try to bootstrap feature manager and fail). Alas, I haven't had time yet to actually test activation strategies using this.

Here is a code snippet for that.
[code]
I can try to make a pull request

[2018-02-17 08:54] chkal commented on #237
@taasjord: Thanks a lot! This looks great! I'm confident that this solution will work. A pull request would be awesome!

[2018-03-15 16:39] #245 closed

[2018-03-23 10:53] ruifigueira opened #268 "Spring Boot 2 support"
Togglz is compiled against Spring Boot 1.5, but Spring Boot 2 introduced some breaking changes.

For instance, `TogglzEndpoint` no longer works in Spring Boot 2 because [they changed the way custom Endpoints are implemented](https://spring.io/blog/2017/08/22/introducing-actuator-endpoints-in-spring-boot-2-0).

I'm going to give it a try and migrate it myself, but do you have any plans on supportin

[2018-03-25 23:15] ruifigueira commented on #268
I don't think it's possible to support both Spring Boot 1.5 and Spring Boot 2.0 in the same module, because `TogglzEndpoint` would have two different implementations for each version and they need to be compiled against the corresponding Spring Boot version.

I think that's the case.

I started to migrate the existing implementation to Spring Boot 2 as a PoC, and so far so good. It's available at

[2018-03-26 05:53] GrahamLea opened #269 "FeatureProvider implementations should not allow its clients to change the default FeatureState in their internal metaDataCache"
If the first time a FeatureState is retrieved from the FeatureManager.getFeatureState() that FeatureState object is used to change the state (FeatureState.setEnabled()), then that call changes the value of the DefaultFeatureState in the internal cache of metadata in EnumBasedFeatureProvider.metaDataCache / PropertyFeatureProvider.metadata.

Implementations of FeatureMetaData should not allow their

[2018-03-26 06:12] chkal commented on #269
Thanks! I just merged your PR!

[2018-03-26 06:12] #269 closed

[2018-03-26 06:28] marceloverdijk commented on #268
I wonder what the Boot recommended way is to support both Boot 1.5 and 2.0, maybe @dsyer can advise in this?

[2018-03-26 16:05] chkal commented on #268
@ruifigueira Thanks a lot for sharing the link to your PoC. It looks like there are quite some breaking changes. So I guess there is no other option than creating a new module.

The question is:
* Do we want to just create a copy of the old Spring Boot 1.x module and modify is as required, or
* Do we want to create some kind of shared code module which is shared between the 1.5 and 2.0 modules.

I

[2018-03-26 22:06] ruifigueira commented on #268
@chkal, if you're ok with a copy / adjust solution for Spring Boot 2.0, I am too :)

Spring Boot 2.0 changed significantly the `Endpoint` part. For instance, they have a consolidated mechanism to enable / disable endpoints and to expose them via web and JMX, so I also think it would be worth to maybe drop the `TogglzProperties.Endpoint` configuration that existed for Spring Boot 1.5 in that new mo

[2018-03-27 11:00] ruifigueira commented on #268
I was discussing this topic with @jpmsilva and he noticed that only the `Endpoint` part is problematic, so he was suggesting the following structure instead under `spring-boot-starter`:

* `togglz-spring-boot-autoconfigure`: this would have the `TogglzAutoConfiguration` stuff, and in theory will work properly for both Spring Boot versions
* `togglz-actuator-legacy-spring-boot-starter`: bits for th

[2018-03-28 17:52] chkal commented on #268
@ruifigueira Sorry for the delayed response.

So what you are basically saying is that all the incompatibilities with Spring Boot 2 are actually Actuator incompatibilities and so it would make sense to extract the Actuator Spring Boot integration into two different modules depending on the major Spring Boot version used?

Did I get this right?

[2018-03-28 23:44] ruifigueira commented on #268
To be 100% clear, Spring Boot 2 has the following impact in current `togglz-spring-boot-starter`:

* ⚠️ `WebMvcConfigurerAdapter` is `@Deprecated`
* ⚠️ `ServletRegistrationBean` is now a generic class
* 🛑 Custom `Endpoint` mechanism changed completely
* 🛑 `@ManagementContextConfiguration` package changed
* 🛑 `ManagementServerProperties` package changed
* 🛑 `ManagementServerProperties.getContextPat

[2018-03-29 04:36] chkal commented on #268
Thanks for this summary.

Awesome! That would be great! Thanks a lot!

[2018-03-30 00:09] ruifigueira commented on #268
@chkal, you can find my experiments under #271, it's still a work in progress, but at least the endpoints are working as expected for both versions.

Togglz console is not fully working yet, it works in both management and default port in Spring Boot 2, but in Spring Boot 1.5 it doesn't work in default port, so I need more time on this.

Nevertheless, we can start discussing about the structure, p

[2018-03-31 08:41] chkal commented on #268
@ruifigueira Awesome! Thanks a lot for working on this. I'll comment on #271 as soon as I find some time to review it.

[2018-04-03 00:56] ruifigueira commented on #268
@chkal, I think I was able to track the problem (I think it's a issue with Spring framework or Spring Boot) and finding a workaround, it's already in the PR.

I reported the issue here:

https://github.com/spring-projects/spring-boot/issues/12726

I'm not very happy with the solution, so I'll iterate over it to refactor and restructure it more.

[2018-04-04 18:34] chkal commented on #268
@ruifigueira Thanks a lot for the update. Sorry, I didn't find time yet to have a deeper look at the PR. Sorry for the delay. I'll come back to you as soon as possible.

[2018-04-08 18:37] ruifigueira commented on #268
@chkal, I just added Spring Boot 2 tests (equivalent to the ones for Spring Boot 1.5 but based on https://spring.io/blog/2018/03/07/testing-auto-configurations-with-spring-boot-2-0), and fixed some problems detected with those tests (for instance, I was missing some `@AutoConfigureAfter` annotations to ensure that).

[2018-04-19 15:29] arashbi commented on #237
I think the springy way of doing it is to register an interceptor:
[code]
 I tried to make it work, but I cannot build spring-web-integration. It gives me a class not found exception:
`Caused by: java.lang.ClassNotFoundException: org.springframework.web.servlet.HandlerInterceptor from [Module "deployment.test.war:main" from Service Module Loader]
`
Not really sure why is this happening.

[2018-04-20 19:25] arashbi opened #273 "toggling a feature to disable deletes the parameters?"
When I feature disabled in the admins main page, all its state is removed from database. This causes problems especially if you want to add Actication strategy and then enable the feature.

[2018-04-21 08:05] chkal commented on #273
Yes, that's how it is currently implemented. Unfortunately this isn't easy to change, because most state repositories also persist parameters only if the strategy is active.

[2018-04-21 08:07] chkal commented on #237
Maybe this is caused by the integration tests? You can either skip the tests for now using `-DskipTests` or make sure that there is no other container listening on port `8080` when you run the build.

[2018-05-02 06:40] kschlesselmann commented on #268
@ruifigueira First: Thanks for your awesome work :-)

Any status updates on this issue? If you still need support I can help out a little since I was looking into the starter myself today.

I'd like to add one suggestion: Can we add `@RefreshScope` while we're migrating the starter to Spring Boot 2? Would be great to configure feature toggles using Spring Cloud Config!

[2018-05-02 09:11] chkal commented on #268
Hey all,

I'm happy to see that there is so much interest in adding Spring Boot 2.0 support to Togglz. And (again) special thanks to @ruifigueira for moving this forward.

It looks like many people are starting to update to Spring Boot 2.0 today, so I understand that there is increasing interest in a Togglz version which works with Boot 2.0. However, I also think that adding this support should be

[2018-05-03 10:55] ruifigueira commented on #268
You can find the progress on this issue on my PR #271, but basically we are waiting for some guidelines from the Spring Boot on how to make two different Spring boot major versions "coexistence".

@kschlesselmann, regarding your request on adding `@RefreshScope`, I have no experience with Spring Cloud, so maybe you can contribute with that part .

[2018-05-04 14:45] snicoll commented on #268
@ruifigueira I really would like to avoid a delay while we're thinking about those best practices. Perhaps there is a more pragmatic approach when we can chat about your particular situation and see if we can move forward more rapidly? Thoughts?

[2018-05-04 18:09] chkal commented on #268
I'm really happy to see all the discussions about the Spring Boot 2.0 support in Togglz and appreciate all the contributions to these discussions.

I would love to merge #271 soon. This would integrate the changes into the latest snapshots, so people could start testing them. However, I think we should at least agree on the Maven modules we want to use to define the basic structure. In #271 there

[2018-05-06 18:59] ruifigueira commented on #268
It's great to see that this discussion so active 👍 @snicoll, thanks for reaching out!

I'll try to resume what we need to decide:

## Naming convention

1. Should we explicitly include the Spring Boot major version in the name of the modules (`togglz-spring-boot1-autoconfigure` and `togglz-spring-boot2-autoconfigure`) or use a different convention instead?

Being discussed here: https://github.com

[2018-05-11 10:01] chkal commented on #268
My thoughts:

* Naming convention
  1. I'm fine with these names. This way we _could_ keep the spring-boot1 module forever and even introduce spring-boot3 at some point in the future.
* Structure:
  1. I'm fine with having a common module. This makes sense as most code works fine with spring boot 1 and 2.
  2. Having a single starter module would be great because existing Togglz users wouldn't nee

[2018-05-11 13:46] snicoll commented on #268
Sorry for the delay. I cloned the project and had a look to #271 to better understand the different pieces.

Disclaimer: this is my personal thought on the subject and shouldn't be considered as a Spring Boot recommendation at this point (as we haven't had the time to meet on that subject).

My preference would be that togglz keeps one starter using a given Spring Boot generation. Right now, this

[2018-05-13 09:50] ruifigueira commented on #268
Thanks a lot @snicoll for your input, No need to be sorry about the delay, I just noticed that [Spring Boot 2.0.2 is out](https://spring.io/blog/2018/05/09/spring-boot-2-0-2), so the delay was totally worth it :)

Regarding your suggestions, I agree with your point of view, and if a new major version of togglz was about the be released, that would simplify a lot this issue, but I don't know if tha

[2018-05-14 05:39] snicoll commented on #268
To be clear, I wasn't referring to a major version. Spring Boot is just one integration point of togglz, I don't think that's fair to require this project to organize their release schedule based on what we're doing. You may decide to switch to Spring Boot 2.0 for `2.6.0.Final` for instance.

I don't think a separate repository is necessary (unless I am missing something). My initial suggestion of

[2018-05-14 16:45] ruifigueira commented on #268
@snicoll, that definitely simplifies things from our side.

In that case, and if we're going to have two different starters, I think that we can keep the name for the Spring boot 1.x one (`togglz-spring-boot-starter`), for backward compatibility reasons, and so we just need to decide a name for the Spring Boot 2.x.

Some suggestions (I'm not good at naming things...):

* `togglz-spring-boot-2-star

[2018-05-15 07:02] snicoll commented on #268
I am not sure I understand that argument. At some point, you'll have to switch to Spring Boot 2 as the default, right? IMO, it is a matter of deciding when to do this. New projects are going to use Spring Boot 2 by default now and they're likely to want to use togglz in its "default" mode.

The problem with your proposal (`nextgen`) is that you'll have a breakage when you switch the default to Spr

[2018-05-16 06:08] snicoll commented on #268
@MALPI worth moving to https://github.com/spring-projects/spring-boot/issues/12733 IMO.

As for your last comment, I don't think that's fair to ask the togglz team to handle a completely separate project for the Spring Boot integration with potentially a different versioning scheme. I very much prefer the current arrangement where a starter matches a version of togglz.

[2018-05-16 17:47] chkal commented on #268
Hey everybody,

thanks to everyone. I'm happy to see that more and more people share their opinions.

After thinking about this more, I agree with this idea. So I would be fine with updating the Spring Boot dependency of the `togglz-spring-boot-starter` module to Spring Boot 2 as part of the Togglz 2.6.0.Final release. We could then also introduce a new module for the "legacy" Spring Boot 1 suppor

[2018-05-17 17:16] ruifigueira commented on #268
Great, I'll try to adapt to that structure today. Thanks for all your input!

[2018-05-18 11:49] MALPI opened #274 "[QUESTION] Why is PropertyFeatureProvider good for distributed environment?"
Hi there,

I am starting investigating togglz for one of our applications an stumbled upon `PropertyFeatureProvider` where the docs state:

Probably I miss something, but why exactly is this one good for distributed environments?

[2018-05-18 12:04] chkal commented on #274
Not sure who wrote this back then, but I can try to explain.

If you use a enum for defining your features and you have distributed environment with many components which need to check features, you will have to shared the enum class between components. And such shared code is usually a bad idea.

At least this is my interpretation of this statement. :-)

[2018-05-18 17:40] ruifigueira commented on #268
PR #271 was updated last night, I did some quick changes to accommodate what was discussed here:

* renamed both `*-boot1-autoconfigure` and `*-boot2-autoconfigure` to `togglz-legacy-spring-boot-starter` and `togglz-spring-boot-starter`, respectively
* renamed package names to `org.togglz.legacy.spring.boot.autoconfigure` and `org.togglz.spring.boot.autoconfigure`

[2018-05-18 17:52] ruifigueira commented on #268
I just renamed `togglz-spring-common-boot-autoconfigure` to `togglz-spring-boot-autoconfigure`.

I think that we can move the discussion about the implementation back to PR #271.

[2018-05-20 17:27] MALPI commented on #274
Thanks for clarification. I'd say this definitely depends on what you define as distributed system. Still the usecase of the class is unclear to me.

I'd have the scenario for a redundant setup per service. Where each service would run on it's own ec2 instance. Maybe I even have different versions of the service running. Where I would like to activate certain feature for stack with id a but not fo

[2018-05-27 23:41] defodji opened #275 "SpringBoot - console showing feature in double when using enum and properties file to set the values for different environments"
The console shows a feature toggle in double if it is created with an enum and its value is set in an application.properties file. I used to application properties file to be able to set the value according to the environment.
However both feature toggles values are changed when the value of one of them is changed. So it seems that even if they appear doubled, they are considered the same.
Thanks.

[2018-06-06 15:20] ruifigueira commented on #275
I also experienced that issue, I'll give it a try to fix it.

[2018-06-10 22:37] ruifigueira commented on #275
Weird, I was trying to replicate the error but without sucess (I'm almost certain that I saw the reported issue happening before).

@defodji, can you please provide a basic project replicating the problem?

[2018-06-10 22:43] ruifigueira commented on #268
PR #271 is now merged, but I think there are still some things to do here, like documentation, for instance: https://www.togglz.org/documentation/spring-boot-starter.html

@chkal, how do you manage the site documentation?

[2018-06-11 04:48] chkal commented on #268
@ruifigueira

You can finde the source for the site here: https://github.com/togglz/togglz-site

It is using a static site generator. It should be easy to use. I hope the README is up to date. Let me know if something don't work for you.

The site will be automatically deployed if you commit to the repo. Everything is automated. :smile:

[2018-06-27 10:07] joewarner commented on #234
Hi @chkal,

I'm still finding my way around Togglz and need to look deeper into the custom `FeatureProvider` that you suggest but wanted to add my use case here too for completeness.

In my case, although I can largely treat my application as standalone, it is deployed to an "application server" that - to all intents and purposes - is permanently running. Effectively my application is hot-deployed

[2018-06-27 18:09] kalpak commented on #268
Hi All - Is the support for Spring Boot - already active on 2.5.0.Final release as documentation indicates? I could not find togglz-legacy-spring-boot-starter:2.5.0.Final in release. Also my code which works on 1.x Spring has stopped working when I upgraded from 2.4.1.Final to 2.5.0.Final - specifically the togglzConsole does not come up. It throws the following error -

Caused by: org.springframe

[2018-06-27 18:15] ruifigueira commented on #268
@kalpak, Spring Boot 2 is not supported in Togglz 2.5.0 yet, it will be supported in 2.6.0.

@chkal, documentation does reference Spring Boot 2 with Togglz 2.5.0, maybe we should just release 2.6.0 or revert the documentation.

[2018-06-27 18:35] kalpak commented on #268
@ruifigueira - This is puzzling. do you know why I would get the above exception when I upgrade from 2.4.1 to 2.5.0.Final for togglzConsole ?

[2018-06-27 19:14] ruifigueira commented on #268
Which exact version of Spring Boot 1.x are you using?

[2018-06-27 19:18] kalpak commented on #268
I am using 1.5.3.RELEASE.

[2018-06-27 19:22] ruifigueira commented on #268
It is complaining about a method not found: `java.lang.AbstractMethodError: org.springframework.validation.beanvalidation.LocalValidatorFactoryBean.forExecutables()Ljavax/validation/executable/ExecutableValidator`

That method is declared by the `javax.validation.Validator` class, since version 1.1: https://docs.oracle.com/javaee/7/api/javax/validation/Validator.html#forExecutables--

That means y

[2018-06-27 19:38] ruifigueira commented on #268
@kalpak, can you please report the problem in another issue, or use [gitter](https://gitter.im/togglz/togglz) instead, because that is unrelated with Spring Boot 2?

I can help you (I suspect hibernate version may be the problem, because the validation implementation is from `hibernate-validator`), but let's continue this in another thread.

[2018-06-28 04:36] chkal commented on #234
@joewarner I'm not sure if I fully understand you case correctly. So you are deploying your application to an application server. That's fine. Your feature enum is included in your application, correct? In this case even hot deployments should work fine and you should get the new enum with each deployment. Assuming a traditional application server where each deployment results in a new class loade

[2018-06-28 22:03] joewarner commented on #234
I tried to indicate that it isn't actually an app server but rather an "application server", i.e. something that fulfills that role. (If you are really interested then I work with the IBM BPM product. So, the code that I deploy runs inside an application (BPM) that is itself running on the app server and the code I deploy isn't even really Java!)

But yes, you are right, the enum is included in th

[2018-06-29 04:18] chkal commented on #234
Thanks for sharing these details.

I think a custom `FeatureProvider` could help in this case. The API is really simple:

https://github.com/togglz/togglz/blob/master/core/src/main/java/org/togglz/core/spi/FeatureProvider.java

Basically a `FeatureProvider` does the following:
* It tells Togglz about all the features your application supports. In your case the result of this could be dynamic. The

[2018-06-29 11:05] mjungsbluth commented on #268
+1 For releasing 2.6.0 . This is the only thing blocking us from upgrading to Boot 2.0

[2018-06-29 11:14] chkal commented on #268
@mjungsbluth Did you try the latest snapshots? Can you verify that they work for you as expected?

[2018-06-29 13:13] jpmsilva opened #279 "Spring boot dedicated management context causes Tooglz warning during startup"
With Togglz 2.5.0.Final and Spring Boot, if we setup the actuator endpoints in a dedicated context (by using the property `management.server.port` to specify a separate port), Spring will emit two `ContextRefreshedEvent` events, one for the main context and another for the management context.
This results in the following warning by Tooglz in the log:

`2018-06-29 13:52:41.414  WARN 29069 --- [

[2018-06-29 15:02] chkal commented on #279
Thanks for reporting this!

Could you perhaps give `2.6.0-SNAPSHOT` a try? I was actually planing to release `2.6.0.Final` this weekend. And @ruifigueira spent quite some time reworking the Spring Boot support. Especially for the new Spring Boot 2.0 support.

@ruifigueira Maybe we should fix this before pushing out 2.6.0?

[2018-06-29 16:16] jpmsilva commented on #279
Hi @chkal

Just tested with a fresh build of 2.6.0-SNAPSHOT from the master branch, and I have the exact same result:

`2018-06-29 17:13:42.292  WARN 13826 --- [           main] licationContextBinderApplicationListener : ApplicationContext already bound to current context class loader, releasing it first`

I don't know if @ruifigueira will be able to reply soon (we actually work together). I'll as

[2018-06-29 16:40] jpmsilva commented on #279
I took a quick look at the code and I have no good news :disappointed:

The problem I have is that identifying which context a ContextRefreshedEvent belongs to depends on casting the source of the event to a `org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext`, and comparing it's `serverNamespace` to the value `management`.
This class is actually from Spring Boot. Give

[2018-06-29 17:15] chkal commented on #279
I guess @ruifigueira can share some thoughts about this.

For me it is most important to know if we consider this a blocker for the release of 2.6.0.Final. And my current impression is that it is **not** a blocker. I absolutely agree that we should fix this, but many people are waiting for proper Spring Boot 2.0 support. So I would prefer to ship 2.6.0.Final this weekend and include the fix for th

[2018-06-29 18:32] jpmsilva commented on #279
Well, given that this behavior has not been introduced with the Spring Boot 2 support, and we have been living with it in the previous releases, I would not consider it a blocker for the 2.6.0 release.

I will discuss options with @ruifigueira as well, and keep this on the backburner.

Thanks for the prompt feedback!

[2018-06-29 18:46] chkal commented on #279
And thank you for bringing this up and your offer to help.... 🍻

[2018-06-29 18:51] chkal commented on #279
Sorry, I forgot to mention that AFAIK @ruifigueira is on vacation, so it may take some time to get a response...

[2018-06-29 22:54] jpmsilva commented on #279
No problem, I work with @ruifigueira (same company, same project) so I'm aware 😄

I created a tentative fix in the form of PR #280 but I think it is perfectly fine to wait for 2.6.1.Final to consider any fixes for this issue.

Have a nice weekend!

[2018-07-01 23:16] amir-khassaia opened #282 "Spring test issue after upgrade to 2.6.0"
Hi, Upgrading from 2.5.0.Final to 2.6.0.Final shows up a runtime error with spring tests:
Running on Java 8, Spring 4.3.x

[code]

[2018-07-02 04:45] chkal commented on #282
Weird, this error is thrown here:

https://github.com/togglz/togglz/blob/2.6.0.Final/spring-core/src/main/java/org/togglz/spring/test/TogglzTestExecutionListener.java#L30

I don't know what is causing this.

[2018-07-02 07:57] ruifigueira commented on #282
@amir-khassaia, can you provide a simple test class with the issue so that we can replicate it?

Besides, I found this similar issue: https://github.com/springtestdbunit/spring-test-dbunit/issues/46 , basically in Spring 3.x `TestContext` was a class and now it is an interface., so I suspect the issue is from our side: https://github.com/togglz/togglz/blob/2.6.0.Final/pom.xml#L51

@chkal, I missed

[2018-07-02 08:08] ruifigueira commented on #279
I'm officially back from vacations :) @jpmsilva, I took a look on your PR. I'll chat with you today to discuss this further.

@chkal , just to let you know that @jpmsilva coding skills are like gospel to me, I work with him and I'm very pleased he decided to take some of his time helping us 👍

[2018-07-02 08:22] ruifigueira commented on #268
@chkal, since 2.6 is already released I think we should close this issue.

[2018-07-02 08:39] ruifigueira commented on #282
I was checking and Spring 3.x is still supported apparently: https://spring.io/projects/spring-framework#learn, but latest 3.x version is from december 2016: http://repo1.maven.org/maven2/org/springframework/spring-core/3.2.18.RELEASE/

Nevertheless, I think we should only support Spring 4+. Even Spring Boot 1.5 requires Spring 4.2+.

[2018-07-02 09:29] chkal commented on #282
I would basically be fine with updating to Spring 4. However, I'm a bit surprised that such a change breaks binary compatibility.

[2018-07-02 12:29] jpmsilva opened #284 "Hardcoded spring version in tests"
In consequence of #280 we found that there is an hardcoded reference to Spring 3.0 in some tests: SpringBasicOperationTest.java, SpringEarlyFeatureUsageTest.java, ManagedFeatureManagerTest.java and FeatureProxyTest.java

This ticket serves to track progress on the fix, for which I will submit a PR soon.

[2018-07-02 12:37] jpmsilva commented on #284
Opened PR #285 for this fix.
However, @ruifigueira mentioned that he may want to merge this patch with #283 instead, to aggregate everything related to the Java 8+Spring 4 bump.
PR #285 is a prerequirement for the tests of #280 to pass

[2018-07-02 14:56] chkal commented on #284
I just merged #285, so we can close this one!

[2018-07-02 14:56] #284 closed

[2018-07-02 15:28] jpmsilva opened #286 "Use shinkwrap resolver with project's own pom.xml"
As mentioned by @chkal it would be preferable to support resolving dependencies with whatever versions are defined in the project's pom.xml instead of the very specific SpringVersion support.
This ticket is to track this improvement.

[2018-07-02 15:43] jpmsilva commented on #286
Added PR #287 with an enhancement to resolve dependency versions resorting to the project's own pom.xml file.

[2018-07-02 16:35] chkal commented on #286
Great! Thanks! See my comments in #287.

BTW: There is no need to create separate issues if you open a pull request. I don't think it brings much benefit if we duplicate all the details between the issue and the pull request. This seems to be a bit redundant. So why not safe some time. ;-)

[2018-07-02 22:14] amir-khassaia commented on #282
@ruifigueira Haven't got a simple test case handy unfortunately. If I get one going will share.
I also wanted to reiterate this project is using Spring 4.3.18, is this a dependency issue due to changes between 2.5.x and 2.6.x, this works just fine in 2.5.0 for me

[2018-07-03 05:07] chkal commented on #282
To be honest, I still don't understand why 2.5.0 works and 2.6.0 not. We didn't change the Spring version between these versions. The only change which **could** cause this is that we now compile with Java 8.

[2018-07-03 05:11] amir-khassaia commented on #282
Yep what you said makes sense... I will see if I can poke around some more to find another angle...

[2018-07-03 06:34] chkal commented on #282
Don't get me wrong. We will definitely update our dependency on Spring to 4.x (see #283). I'm just really confused why this issue doesn't occur with 2.5.0.Final.

[2018-07-03 11:49] ruifigueira commented on #282
Ok, I figured out why this stopped working in 2.6... I changed the `TogglzTestExecutionListener` class from `spring-boot-starter` into `spring-core`, and while `spring-core` uses Spring 3 to compile, `spring-boot-starter` uses the version that Spring Boot declares, which is Spring 4.

[2018-07-03 14:23] chkal commented on #282
Oh, yes! That makes sense. I didn't remember that you moved that file.

[2018-07-03 16:05] chkal commented on #282
I think in this case we could simply apply #283, backport it to a 2.6.x maintenance branch and release 2.6.1 soon...

[2018-07-03 21:37] amir-khassaia commented on #282
Ok great news, thanks for confirming. What would the timeline for 2.6.1 be, couple of weeks type of deal ?

[2018-07-04 04:33] chkal commented on #282
I think we should wait for ~2 weeks to see if anything else comes up which we should include in 2.6.1.

[2018-07-04 13:54] #282 closed

[2018-07-06 13:08] Frederikam opened #288 "IndexOutOfBoundsException in LogFactory"
We've been using Togglz in [our open source project](https://github.com/Frederikam/FredBoat) for well over a year, and we have recently done a lot of work to refactor our code. After over 250 commits we have started testing in a staging environment in which Togglz fails with this exception:

[code]

This exception only occurs after we build our project using Gradle. This means that it doesn't affe

[2018-07-06 14:08] ruifigueira commented on #288
Did you include `org.togglz:togglz-slf4j` as a dependency?

[2018-07-06 14:16] Frederikam commented on #288
No we didn't. I suspect we were using `Jdk14LogProvider` implementation before, and now it isn't loading for some reason.

I added `togglz-slf4j` but we are still getting the same exception.
![image](https://user-images.githubusercontent.com/2582617/42383570-e1ead790-8137-11e8-995a-2439422ccbb9.png)

[2018-07-06 14:35] ruifigueira commented on #288
Can you also check that the corresponding `togglz-slf4j` jar can be found in the staging environment classpath?

Nevertheless, it's strange because it should always have the `JDK14LogProvider` available (it's provided in `togglz-core`).

Are you using OpenJDK 9+?

[2018-07-06 14:40] Frederikam commented on #288
I'm using Oracle JDK 10, and I also tried Oracle JDK 9 earlier. The jar is found in the resulting uberjar after extracting it
![image](https://user-images.githubusercontent.com/2582617/42384782-347694ba-813b-11e8-8742-c86686a5f4d4.png)

[2018-07-06 14:54] ruifigueira commented on #288
And when it was still working, were you already using OpenJDK 9+? I'm trying to determine if it's related with changes introduced in JDK 9+, like modules.

[2018-07-06 15:04] Frederikam commented on #288
We use Oracle JDK 10 in production, where togglz still works

[2018-07-06 15:18] chkal commented on #288
Not sure why the `ServiceLoader` mechanism doesn't work. The only issues I'm aware of are:

* OSGi doesn't support `ServiceLoader` AFAIK
* The `ServiceLoader` uses the context class loader. I ran into issues regarding this with OpenLiberty, because the context class loader was a different one during application bootstrap.

JDK10 should't really be an issue. Togglz doesn't contain a module descript

[2018-07-06 15:22] chkal commented on #288
Any chance that you could debug which `ClassLoader` the `ServiceLoader` uses when looking for the `LogProvider`?

[2018-07-06 15:40] Frederikam commented on #288
I'm having trouble with that. IDEA's remote debugger won't recognize this method
![image](https://user-images.githubusercontent.com/2582617/42387763-a7ff5446-8143-11e8-81cd-6fe055ea8802.png)

Maybe it is a problem with how the Spring Boot Gradle plugin packages jars?

[2018-07-06 15:50] chkal commented on #288
Are you running from a fat jar? In this case, yes, this could be an issue.

Could you check if there is a file called `META-INF/services/org.togglz.core.spi.LogProvider` in the archive?

https://github.com/togglz/togglz/blob/master/core/src/main/resources/META-INF/services/org.togglz.core.spi.LogProvider

[2018-07-06 16:00] Frederikam commented on #288
The service directory is located in the inner jar, eg `/BOOT-INF/lib/togglz-core-2.6.0.Final.jar/META-INF/services`

However, the same goes for our working builds as well.

[2018-07-06 16:36] chkal commented on #288
Could you perhaps post the full stacktrace? Including all the `caused by` blocks?

[2018-07-06 16:37] chkal commented on #288
And it would also be interesting to know what you changed as part of your refactoring. Maybe any key things? Spring Boot updates? Other JVM or container updates?

[2018-07-06 16:53] Frederikam commented on #288
* Too many things were changed to list
![image](https://user-images.githubusercontent.com/2582617/42390372-ef48b876-814b-11e8-9ea3-615f913ee4d4.png)
* The only significant thing that changed to our build process (as far as I can see) was the addition of Kotlin, which I concluded after looking at the blame of our parent gradle config, and our module gradle config.
* Old builds still work with the s

[2018-07-06 17:01] Frederikam commented on #288
One of my collaborators figured we were missing a dependency. This should fix it: https://github.com/Frederikam/FredBoat/commit/e0db37b6fc158c357481a268acdd80733e1ea5a3

Thanks for helping us fix this :smile:

I still wonder what caused it to break when it was working before

[2018-07-06 17:03] #288 closed

[2018-07-06 17:08] kchrusciel opened #289 "Togglz with WebFlux"
Hi, I try to run Togglz with WebFlux but:

[code]

[code]

Any ideas? With spring-boot-starter-web works well.

[2018-07-07 06:38] chkal commented on #288
Thanks for letting us know what the problem was. Although I'm also not sure why this error occurred just because of the missing Spring Boot module.

[2018-07-07 06:43] chkal commented on #289
I'm not sure if this is really related to Togglz at all. There is no Togglz class in the stacktrace.

Although this may be a similar issue as spring-projects/spring-boot#8667

[2018-07-07 08:11] ruifigueira commented on #289
Togglz console is provided by `TogglzConsoleServlet`, which requires a servlet container, and webflux is not servlet compliant. With `spring-boot-starter-web`, Spring Boot launches an embedded servlet container by default, and that's why it works properly in that case.

[2018-07-07 08:44] chkal commented on #289
So removing `togglz-console` from the pom should fix this issue?

[2018-07-07 10:29] kchrusciel commented on #289
@ruifigueira Thanks, so this is not a bug. Can be closed.
@chkal exactly, if I remove `togglz-console` it works.

[2018-07-07 10:29] #289 closed

[2018-07-09 14:47] jpmsilva commented on #286
Hi @chkal
Sorry for the spam, I will do accordingly. Since the PR is ongoing, I'll close this ticket and will track progress on the PR itself.